#content .page-title{
  border-bottom: 1px solid #ccc;
}
#content h1{
  font-size: 170%;
  border-left: 6px solid #FF0000;
  padding: 3px 5px 3px 15px;
  margin: 5px;
}
#content .body{
  padding: 10px;
  line-height: 150%;
}
#content .body h2{
  font-size: 140%;
  font-weight: bold;
  padding: 5px 5px 5px 20px;
  border-bottom: 1px dotted #999;
  margin: 20px 0 15px;
  background: url("../images/h3_icon.jpg") no-repeat 3px center;
}
#content .body p{
  margin: 10px 10px 20px;
}
#content .body ul{
  margin: 10px 10px 20px 25px;
  padding: 0;
  list-style: none;
}
#content .body ul li{
  padding: 0px 5px 5px 12px;
  margin: 0 0 3px 0;
  background: url("../images/li_icon.gif") no-repeat left 5px;
  list-style: none;
}
#content .table_wrapper{

}
#content .table_wrapper table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 10px 0;
}
#content .table_wrapper table th{
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 5px 10px;
  text-align: center;
}
#content .table_wrapper table td{
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

