---
title: 松江Ruby会議08
date: 2016年12月17日（土）
location: 松江テルサ４Ｆ大会議室
created_at: 2018/04/26
publish: true
---

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/matrk08">MATSUE RUBY KAIGI 08</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#guidance">開催概要</a></li>
        <li class="nav-item"><a class="nav-link" href="#information">新着・お知らせ</a></li>
        <li class="nav-item"><a class="nav-link" href="#program">プログラム</a></li>
        <li class="nav-item"><a class="nav-link" href="#register">参加登録の案内</a></li>
        <li class="nav-item"><a class="nav-link" href="#sponser">スポンサー</a></li>
        <li class="nav-item"><a class="nav-link" href="#support">お問い合わせ先</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/matrk_common/img/ruby.png" width="60" height="60">
  <h1 class="display-5 fw-bold">MATSUE RUBY KAIGI 08</h1>
</div>

<div id="guidance" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="outline">開催概要</h2>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <table class="table table-responsive table-condensed">
        <tr>
          <th width="20%">名称</th>
          <td>松江Ruby会議08</td>
        </tr>
        <tr>
          <th>開催日</th>
          <td>2016年12月17日（土）</td>
        </tr>
        <tr>
          <th>時間</th>
          <td>11:00 〜 17:40</td>
        </tr>
        <tr>
          <th>会場</th>
          <td>松江テルサ４Ｆ大会議室</td>
        </tr>
        <tr>
          <th>参加費</th>
          <td>無料</td>
        </tr>
        <tr>
          <th>主催</th>
          <td>Matsue.rb(まつえるびー)</td>
        </tr>
        <tr>
          <th>後援</th>
          <td>日本Rubyの会</td>
        </tr>
        <tr>
          <th>公式タグ</th>
          <td>X(旧: Twitter): <a href="https://twitter.com/search?q=matrk08&src=typd&f=realtime">#matrk08</a></td>
        </tr>
        <tr>
          <th>中継</th>
          <td>YouTube: <a href="https://youtu.be/I1kwzu1U80Y">松江Ruby会議08</a></td>
        </tr>
      </table>
    </div>

    <div class="col-xs-12 col-md-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3249.629236624823!2d133.0620155!3d35.46397234999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355704e36d506729%3A0x9f3e7a01f8d8ed0!2z44CSNjkwLTAwMDMg5bO25qC555yM5p2-5rGf5biC5pyd5pel55S677yU77yX77yY4oiS77yR77yYIOadvuaxn-ODhuODq-OCteWIpemkqA!5e0!3m2!1sja!2sjp!4v1416027268403" width="350" height="270" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>

<br><br>

<div id="purpose" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">目的</h2>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <p class="main-text font-Fenix">ゲスト講演などを通して、オープンソースへの関わりや貢献について考える機会になればと思っています。</p>
      <p class="main-text font-Fenix">また、コードにスポットを当てた発表を通して、参加者にRubyの楽しさを知ってもらいたいと思っています。</p>
    </div>
  </div>
</div>

<br><br>

<div id="information" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">新着・お知らせ</h2>
      </blockquote>
     <dl class="news_table">
       <dt>2016/09/17</dt><dd>本ページを公開しました。</dd>
     </dl>
     <dl class="news_table">
       <dt>2016/11/16</dt><dd>プログラム内容に発表者の紹介文を追加しました。</dd>
     </dl>
     <dl class="news_table">
       <dt>2016/11/24</dt><dd>プログラミングコンテストの詳細を追加しました。</dd>
     </dl>
     <dl class="news_table">
       <dt>2016/12/04</dt><dd>プログラミングコンテスト・RubyQuizの景品を追加しました。</dd>
     </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
    </div>
  </div>
</div>

<br><br>

<div id="program" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">プログラム</h2>
      </blockquote>
      <h3 class="font-Fenix" id="message">講演者ご紹介</h3>
      <div class="row">
        <div class="col-xs4 col-md-4 keynote-person">
          <span class="person matz"></span>
          <div class="profile">
            <span class="name">まつもとゆきひろ氏</span>
            <span class="social">
              <a href="https://twitter.com/yukihiro_matz" class="twitter"></a>
              <a href="https://github.com/matz" class="github"></a>
            </span>
            <p class="description">
              我らがRubyの生みの親。小泉八雲氏と肩を並べる松江市名誉市民でもあり、Rubyを通して地方から世界のソフトウェア業界に多大な影響を与えています。今回も松江ならでは、基調講演でお話をしていただきます。
            </p>
          </div>
        </div>
        <div class="col-xs4 col-md-4 keynote-person">
          <span class="person matsuda"></span>
          <div class="profile">
            <span class="name">松田明氏</span>
            <span class="social">
              <a href="https://twitter.com/a_matsuda" class="twitter"></a>
              <a href="https://github.com/amatsuda" class="github"></a>
            </span>
            <p class="description">
              Ruby、Railsのコミッター。RailsでWeb開発をしたことがある人なら誰もが一度は使ったことがある、KaminariやCarrierWaveの開発者でもあります。また、Asakusa.rbの創設者でもあります。
            </p>
          </div>
        </div>
        <div class="col-xs4 col-md-4 keynote-person">
          <span class="person koshikawa"></span>
          <div class="profile">
            <span class="name">越川直人氏</span>
            <span class="social">
              <a href="https://twitter.com/ppworks" class="twitter"></a>
              <a href="https://github.com/ppworks" class="github"></a>
            </span>
            <p class="description">
              家計簿ソフトの定番であるマネーフォワードのエンジニア。開発環境の改善、エンジニア採用の強化、社内のエンジニア文化づくりなどに携わっています。傍で esa.io の技術顧問としても日々活動しています。また、Sendagaya.rbの創設者でもあります。
            </p>
          </div>
        </div>
      </div>
      <hr>
      <h3>プログラミングコンテスト</h3>
      <p>
        プログラミングコンテストは11/24〜12/14が応募期間でした。<br>
        ご参加ありがとうございました。<br>
        当時の<a href="https://matsue.rubyist.net/matrk08-procon/">ランキングページ(別サイト)</a>は引き続きご覧になる事ができます。<br>
      </p>
      <br>
      <h3>プログラミングコンテスト・RubyQuiz賞品</h3>
      <ul>
        <li>
          <p>
            Raspberry Pi 3／ラズパイマガジン10,12月号／ラズパイマガジン企画部品セット<br>
            （株式会社イーストバック様　ご提供）<br>
          </p>
        </li>
        <li>
          <p>
            Amazonギフト券10,000円分<br>
            （株式会社島根情報処理センター様　ご提供）<br>
          </p>
        </li>
        <li>
          <p>
            オライリー図書館からお好きな書籍1万円分を贈呈<br>
            （ファーエンドテクノロジー株式会社様　ご提供）<br>
          </p>
        </li>
        <li>
          <p>
            Ruby関連書籍３冊<br>
            （株式会社八雲ソフトウェア様　ご提供）<br>
          </p>
          <ul>
            <li>Rubyによるクローラー開発技法 巡回・解析技能の実装と21の運用例</li>
            <li>Rubyで数独：AIプログラミング入門</li>
            <li>恋するプログラム―Rubyでつくる人工無脳 (プレミアムブックス版)</li>
          </ul>
        </li>
        <li>
          <p>
            タブレット（8GB or 16GB）<br>
            （株式会社日本ハイソフト様　ご提供）<br>
          </p>
        </li>
        <li>
          <p>
            Amazon Dash Button 1万円分（何種類かのセット e.g. 4種類x5セット）<br>
            （株式会社Misoca様　ご提供）<br>
          </p>
        </li>
        <li>
          <p>
            Potensic 2.4GHz 4CH 6軸ジャイロ ドローン<br>
            （株式会社ネットワーク応用通信研究所様　ご提供）<br>
          </p>
        </li>
        <li>
          <p>
            Kindle Paperwhite マンガモデル 32GB＋同社ロゴ入りタンブラー（THERMOS製）<br>
            （フェンリル株式会社様　ご提供）<br>
          </p>
        </li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">タイムテーブル</h3>
          <h4 class="font-Fenix" id="message">午前の部</h4>
<%= render('_time_table', tbody_data: [
  ['11:00 〜 11:05', 'オープニング', ''],
  ['11:10 〜 11:55', 'ゲスト講演<br />「許可を得る前にプルリクしよう（仮）」', '越川直人氏<br />（マネーフォワード）'],
  ['12:00 〜 13:30', '昼休憩（LT）', ''],
]).gsub(/^/, '      ') -%>

           <h4 class="font-Fenix" id="message">午後の部</h4>
<%= render('_time_table', tbody_data: [
  ['13:30 〜 14:20', '基調講演', 'まつもとゆきひろ 氏'],
  ['14:30 〜 15:20', 'ゲスト講演<br/>「未定（オープンソースとの関わり方と開発環境に関するお話の予定）」', '松田明 氏'],
  ['15:30 〜 15:50', 'プログラミングコンテスト結果発表', '-'],
  ['16:00 〜 16:20', 'ライブコーディング<br />「mrubyで携帯回線IoTデバイスを作ってみた」', '佐藤 氏（pim）'],
  ['16:30 〜 17:20', 'Ruby Quiz<br />本多展幸 氏、小嵜英治 氏（司会・進行）', ''],
  ['17:20 〜 17:30', 'クロージング', '実行委員長'],
]).gsub(/^/, '      ') -%>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<div id="register" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">参加登録の案内</h2>
      </blockquote>
      <p class="main-text font-Fenix">参加登録は受付終了しました。</p>
    </div>
  </div>
</div>

<br><br>

<div id="sponser" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">スペシャルスポンサー</h2>
      </blockquote>

      <hr class="col-xs-12 col-md-12">

      <h3>Tシャツスポンサー</h3>

      <ul class="sponser_list_items">
        <li>
          <a href="http://spicelife.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="spicelife" src="img/spicelife.png">
            </div>
            <div>株式会社spice life</div>
          </a>
        </li>
        <li>
          <a href="https://tmix.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="TMIX" src="img/tmix.png">
            </div>
            <div>オリジナルTシャツをWEBでデザイン・プリントTMIX</div>
          </a>
        </li>
        <li>
          <a href="https://steers.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="STEERS" src="img/steers.png">
            </div>
            <div>オリジナルTシャツ販売 STEERS</div>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-md-12">
      <hr class="col-xs-12 col-md-12">

      <h3>プログラミングコンテストスポンサー</h3>

      <ul class="sponser_list_items">
        <li>
          <a href="http://www.eastback.co.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="eastback" src="img/eastback.jpg">
            </div>
            <div>株式会社イーストバック</div>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">スポンサー</h2>
      </blockquote>

      <hr class="col-xs-12 col-md-12">

      <ul class="sponser_list_items">
        <li>
          <a href="http://www.eastback.co.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="eastback" src="img/eastback.jpg">
            </div>
            <div>株式会社イーストバック</div>
          </a>
        </li>
        <li>
          <a href="http://www.tm-21.co.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="tm-21" src="img/tm-21.jpg">
            </div>
            <div>株式会社 ティーエム21</div>
          </a>
        </li>
        <li>
          <a href="http://www.netlab.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="nacl" src="img/nacl.jpg">
            </div>
            <div>株式会社ネットワーク応用通信研究所</div>
          </a>
        </li>
        <li>
          <a href="http://www.fenrir-inc.com/" target="_blank">
            <div class="logo-wrapper">
              <img alt="fenrir" src="img/fenrir.jpg">
            </div>
            <div>フェンリル株式会社</div>
          </a>
        </li>
        <li>
          <a href="https://www.misoca.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="misoca" src="img/misoca.png">
            </div>
            <div>株式会社Misoca</div>
          </a>
        </li>
        <li>
          <a href="http://www.sjc-inc.co.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="sjc" src="img/sjc.jpg">
            </div>
            <div>株式会社島根情報処理センター</div>
          </a>
        </li>
        <li>
          <a href="http://www.farend.co.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="farend" src="img/farend.jpg">
            </div>
            <div>ファーエンドテクノロジー株式会社</div>
          </a>
        </li>
        <li>
          <a href="https://8clouds.co.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="8clouds" src="img/8clouds.jpg">
            </div>
            <div>株式会社八雲ソフトウェア</div>
          </a>
        </li>
        <li>
          <a href="http://www.jhsc.co.jp/" target="_blank">
            <div class="logo-wrapper">
              <img alt="jhsc" src="img/jhsc.jpg">
            </div>
            <div>株式会社日本ハイソフト</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br><br>

<div id="support" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">お問い合わせ</h2>
      </blockquote>
      <p class="main-text font-Fenix">松江Ruby会議08は開催終了しました。お問い合わせの受付も終了しております。ご参加ありがとうございました。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
    </div>
  </div>
</div>
