---
title: 松江Rubyとは
description: 
keywords:
---

<div markdown="1" class="page-title" ><h1><%= @item[:title] %></h1></div>

<div markdown="1" class="body">

Matsue.rb(松江Ruby)は、島根県松江市周辺で活動するプログラミング言語Rubyのコミュニティです。

主な活動は以下のイベントを開催することです。各イベントのスケジュールは<a href="<%= relative_path_to('/schedule/') %>">こちら</a>からご確認いただけます。

* 毎月1回のMatsue.rb定例会(後述)
* 年1回の松江Ruby会議

Matsue.rbの情報交換やイベントの告知は主にFacebookの<a href="https://www.facebook.com/groups/matsuerb">Matsue.rb(松江Ruby)グループ</a>で行なっていますので、よろしければご参加ください。

## Matsue.rb定例会について

Matsue.rb定例会は、毎月1回、9:30から17:30まで<%= link_to_osslab %>で開催しているイベントです。

本イベントは、午前中から参加している人同士で昼食をとり、それ以外の時間は自由にRubyに関するなにかを行うというものです。参加時間も自由で午前中だけとか、午後だけとか、2時間だけとか、仕事の合間にRubyに関する質問をしにきたりとか。

これまで、みなさんがMatsue.rbで取り組まれたことをざっと挙げてみます。参加するかどうかの判断の参考にしてくださいね。

* 小学5年生から参加。Rubyの資格をとったよ！
* Matsue.rb定例会を通して企業間を超えた技術者の友人ができた。
* 仕事で文字コード関連で困っておりMatsue.rb定例会で質問して解決した。
* 今は学生で、Rubyで仕事をしている企業の方と知り合いになれた。

## 松江Ruby会議について

松江Ruby会議は、毎年1回、松江市周辺で開催しているイベントです。

本イベントは、<%= link_to("地域Ruby会議(Regional RubyKaigi;りーじょなるるびーかいぎ)", "http://regional.rubykaigi.org/") %>という<%= link_to("RubyKaigi", "http://rubykaigi.org/") %>のようなイベントをいろんな地域でやってしまおうというプロジェクトの一部として開催しています。日本Rubyの会が<%= link_to("後援", "http://www.fdiary.net/ml/ruby/msg/1929") %>しています。

平成25年度は1月を予定していましたが3月15日に変更になりました。公式サイト開設までの間は<%= link_to("Matsue.rb(松江Ruby)グループ", "https://www.facebook.com/groups/matsuerb") %>に告知を行う予定です。

## グループのメンバー 一覧

<%= link_to("メンバー 一覧はこちら", "/members/")%>

</div>
