--- 
title: お問合わせ
description: 
keywords:
---

<div markdown="1" class="page-title" ><h1><%= @item[:title] %></h1></div>

<div markdown="1" class="body">

## Facebook

Facebookをご利用の方は、<%= link_to("Matsue.rb(松江Ruby)グループ", "https://www.facebook.com/groups/matsuerb") %>に参加いただき、ご質問などを投稿していただければお返事いたします。

## Twitter

Twitterをご利用の方は、<%= link_to("@matsuerb", "https://twitter.com/matsuerb") %>にメンションしていただくか、ハッシュタグ <%= link_to("#matsuerb", "https://twitter.com/hashtag/matsuerb") %> をつけてご質問などをつぶやいていただければお返事いたします。

</div>
