--- 
title: Matsue.rb(松江Ruby)
description: 
keywords:
---

<div id="main-left">
  <h2 class="m_title"><a href="#"><img src="images/title_news.gif" alt="お知らせ" /></a></h2>
  <div class="pickup">

<% sorted_articles.each do |item| %>

    <div class="wrp">
      <div class="title"><%= item[:title] %><span class="date">(<%= item[:created_at] %>)</span></div>
      <div class="body">
        <p><%= strip_html(item.reps.first.compiled_content).slice(0,100) %></p>
      </div>
      <div class="link"><a href="<%= item.identifier %>">続きはこちら</a></div>
    </div>

<% end %>

  </div>
</div>
<div id="main-center">
  <h2 class="m_title"><a href="#"><img src="images/title_twitter.gif" alt="twitter" /></a></h2>
  <a class="twitter-timeline" href="https://twitter.com/search?q=%23matsuerb" data-widget-id="351231887852851200">#matsuerb に関するツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="main-right">
  <h2 class="m_title"><a href="#"><img src="images/title_fb.gif" alt="facebook" /></a></h2>
  <%# TODO: GitHub PagesへURLを変更する %>
  <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmatsuerb&amp;width=265&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:265px; height:258px;" allowTransparency="true"></iframe>
  <p>
    Matsue.rbの情報交換やイベントの告知は主にFacebookの<a href="https://www.facebook.com/groups/matsuerb">Matsue.rb(松江Ruby)グループ</a>で行なっていますので、よろしければご参加ください。
  </p>
  <%# TODO: Matsue.rbグループのメンバー一覧とウォールの表示 %>
</div>
