---
title: グループのメンバー 一覧
description: 
keywords:
---

<div markdown="1" class="page-title" ><h1><%= @item[:title] %></h1></div>
<div markdown="1" class="body">
  <table id="member_wrapper">
    <tbody>
      <% get_matsuerb_members.each_slice(2) do |members| %>
      <tr>
        <% members.each do |data| %>
        <td><%= gravatar_image(data[:gravatar_hash]) %></td>
        <td class="profile">
          <h3><%= data[:name] %></h3>
          <p><%= data[:profile] %></p>
          <% if member_websites?(data) %>
          <h4>ウェブサイト</h4>
          <ul class="links">
            <% get_member_websites(data).each do |website| %>
            <li><%= link_to(website[:name], website[:url]) %></li>
            <% end %>
          </ul>
          <% end %>
          <% if member_products?(data) %>
          <h4>プロジェクト</h4>
          <ul class="links">
            <% data[:products].each do |h| %>
              <li><%= link_to(h[:name], h[:url]) %></li>
            <% end %>
          </ul>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

