---
title: お知らせ一覧
description: Matsue.rb(松江Ruby)の公式サイト
keywords: ['matsuerb']
author_name: Matsue.rb
author_uri: http://matsuerb.github.io/
kind: matsuerb
---
<div markdown="1" class="container">
  <div class="page-title">
    <h1><%= @item[:title] %></h1>
  </div>
  <div class="py-3">
    <% sorted_articles.each do |item| %>
      <div class="row">
        <div>
          <%= link_to(item[:title], item.identifier.to_s) %><span class="fw-light ps-1"><small>(<%= item[:updated_at] || item[:created_at] %>)</small></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
