--- 
title: スケジュール
description: 
keywords:
---

<div markdown="1" class="page-title" ><h1>スケジュール </h1></div>

<div markdown="1" class="body">

## イベントの告知について

Matsue.rbの情報交換やイベントの告知は主にFacebookの<a href="https://www.facebook.com/groups/matsuerb">Matsue.rb(松江Ruby)グループ</a>で行なっていますので、よろしければご参加ください。

## 平成25年度

<div markdown="1" class="table_wrapper" >


| イベント名               |状態          | 日時                  | 会場                   |事前登録|料金|リンク                      |
|:-------------------------|:------------:|:---------------------:|:----------------------:|:------:|:--:|:--------------------------:|
| Matsue.rb定例会H25.09    |参加受付中    | 2013/09/21 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(1405176589701140) %>|
| Matsue.rb定例会H25.08    |終了    | 2013/08/17 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(328418553959524) %> |
| Matsue.rb定例会H25.07    |終了(15名参加)| 2013/07/20 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(407769719337901) %> |
| Matsue.rb定例会H25.06    |終了(10名参加)| 2013/06/30 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(454912721252041) %> |
| Matsue.rb定例会H25.05    |終了(11名参加)| 2013/05/18 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(171437773019862) %> |
| Matsue.rb定例会H25.04    |終了(12名参加)| 2013/04/27 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(500733719987832) %> |
| Matsue.rb定例会H25.03    |終了(14名参加)| 2013/03/30 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(507413099310625) %> |
| Matsue.rb定例会H25.02    |終了(15名参加)| 2013/02/09 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(327732273995257) %> |
| Matsue.rb定例会H25.01    |終了(15名参加)| 2013/01/26 9:30-17:30 | 松江オープンソースラボ | 不要   |無料|<%= fbe(132789706886719) %> |


</div>

</div>
