--- 
title: スケジュール
description: 
keywords:
---

<div markdown="1" class="page-title" ><h1><%= @item[:title] %></h1></div>

<div markdown="1" class="body">

## イベントの告知について

Matsue.rbの情報交換やイベントの告知は主にFacebookの<a href="https://www.facebook.com/groups/matsuerb">Matsue.rb(松江Ruby)グループ</a>で行なっていますので、よろしければご参加ください(<%= link_to("iCal形式のカレンダー", "/calendar.ics") %> も配布しています)。

## 令和5年

<div markdown="1" class="table_schedule" >

|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会R05.12(#162)| 参加受付中 | 2023/12/16 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 163795) %> |
| Matsue.rb定例会R05.11(#161)| 終了(11名参加、オンライン2名参加) | 2023/11/19 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 163794) %> |
| Matsue.rb定例会R05.10(#160)| 終了(5名参加) | 2023/10/14 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 163793) %> |
| 松江Ruby会議10             | 終了(55名参加) | 2023/09/16 13:00-18:00| <%= link_to_osslab %> | 必要   |無料| <%= link_to("松江Ruby会議10", "/matrk10") %> |
| Matsue.rb定例会R05.08(#159)| 終了(3名参加) | 2023/08/26 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 158970) %> |
| Matsue.rb定例会R05.07(#158)| 終了(7名参加) | 2023/07/29 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 158969) %> |
| Matsue.rb定例会R05.06(#157)| 終了(6名参加)  | 2023/06/24 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 154093) %> |
| Matsue.rb定例会R05.05(#156)| 終了(7名参加)  | 2023/05/27 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 154092) %> |
| Matsue.rb定例会R05.04(#155)| 終了(7名参加)  | 2023/04/29 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 154091) %> |
| Matsue.rb定例会R05.03(#154)| 終了(5名参加) | 2023/03/25 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 148780) %> |
| Matsue.rb定例会R05.02(#153) Ruby30周年記念イベント松江会場 | 終了(11名参加) | 2023/02/25 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 148779) %> |
| Matsue.rb定例会R05.01(#152)| 終了(6名参加) | 2023/01/29 13:00-17:00 | <%= link_to_osslab %>   | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 148778) %> |

</div>

## 令和4年

<div markdown="1" class="table_schedule" >

|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会R04.12(#151)| 終了(3名参加、オンライン3名参加) | 2022/12/17 13:00-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 143868) %> |
| Matsue.rb定例会R04.11(#150)| 終了(オンライン4名参加) | 2022/11/26 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 143867) %> |
| Matsue.rb定例会R04.10(#149)| 終了(オンライン3名参加) | 2022/10/22 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 143866) %> |
| Matsue.rb定例会R04.09(#148)| 終了(オンライン6名参加) | 2022/09/24 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 139065) %> |
| Matsue.rb定例会R04.08(#147)| 終了(オンライン4名参加) | 2022/08/27 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 139064) %> |
| Matsue.rb定例会R04.07(#146)| 終了(オンライン6名参加) | 2022/07/23 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 139063) %> |
| Matsue.rb定例会R04.06(#145)| 終了(オンライン5名参加) | 2022/06/25 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 134158) %> |
| Matsue.rb定例会R04.05(#144)| 終了(オンライン5名参加) | 2022/05/28 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 134157) %> |
| Matsue.rb定例会R04.04(#143)| 終了(オンライン7名参加) | 2022/04/23 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 134156) %> |
| Matsue.rb定例会R04.03(#142)| 終了(オンライン7名参加) | 2022/03/26 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 131016) %> |
| Matsue.rb定例会R04.02(#141)| 終了(オンライン5名参加) | 2022/02/26 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 131015) %> |
| Matsue.rb定例会R04.01(#140)| 終了(オンライン7名参加) | 2022/01/29 13:00-16:30 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 131014) %> |

</div>

## 令和3年

<div markdown="1" class="table_schedule" >

|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会R03.12(#139)| 終了(7名参加) | 2021/12/18 13:00-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 127695) %> |
| Matsue.rb定例会R03.11(#138)| 終了(4名参加) | 2021/11/20 13:00-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 127694) %> |
| Matsue.rb定例会R03.10(#137)| 終了(オンライン6名参加) | 2021/10/30 13:00-16:00 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 127693) %> |
| Matsue.rb定例会R03.09(#136)| 終了(オンライン3名参加) | 2021/09/25 13:00-16:00 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 124525) %> |
| Matsue.rb定例会R03.08(#135)| 終了(オンライン5名参加) | 2021/08/28 13:00-16:00 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 124524) %> |
| Matsue.rb定例会R03.07(#134)| 終了(オンライン5名参加) | 2021/07/31 13:00-16:00 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 124523) %> |
| Matsue.rb定例会R03.06(#133)| 終了(9名参加、オンライン2名参加) | 2021/06/26 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 120146) %> |
| Matsue.rb定例会R03.05(#132)| 終了(オンライン3名参加) | 2021/05/29 10:00-16:00 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 120145) %> |
| Matsue.rb定例会R03.04(#131)| 終了(オンライン2名参加) | 2021/04/24 10:00-16:00 | オンライン開催  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 120144) %> |
| Matsue.rb定例会R03.03(#130)| 終了(6名参加、オンライン1名参加) | 2021/03/27 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 115148) %> |
| Matsue.rb定例会R03.02(#129)| 終了(8名参加、オンライン2名参加) | 2021/02/27 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 115147) %> |
| Matsue.rb定例会R03.01(#128)| 終了(6名参加) | 2021/01/23 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 115146) %> |

</div>

## 令和2年

<div markdown="1" class="table_schedule" >


|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会R02.12(#127)| 終了(13名参加) | 2020/12/12 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 112991) %> |
| Matsue.rb定例会R02.11(#126)| 終了(10名参加) | 2020/11/14 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 112990) %> |
| Matsue.rb定例会R02.10(#125)| 終了(8名参加) | 2020/10/17 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 112150) %> |
| Matsue.rb定例会R02.09(#124)| 終了(7名参加) | 2020/09/26 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 111156) %> |
| Matsue.rb定例会R02.08(#123)| 終了(9名参加) | 2020/08/29 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 109233) %> |
| Matsue.rb定例会R02.07(#122)| 終了(9名参加) | 2020/07/11 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 107537) %> |
| Matsue.rb定例会R02.06(#121)| 終了(14名参加) | 2020/06/06 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 106878) %> |
| Matsue.rb定例会R02.05(#120)| 終了(5名参加) | 2020/05/16 9:30-17:00 | オンライン開催 | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 106317) %> |
| Matsue.rb定例会R02.04(#119)| 終了(6名参加) | 2020/04/25 9:30-17:00 | オンライン開催 | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 105594) %> |
| Matsue.rb定例会R02.03(#118)| 終了(8名参加) | 2020/03/28 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 104743) %> |
| Matsue.rb定例会R02.02(#117)| 終了(10名参加) | 2020/02/29 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 102951) %> |
| Matsue.rb定例会R02.01(#116)| 終了(20名参加) | 2020/01/18 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 101994) %> |

</div>


## 平成31年/令和元年

<div markdown="1" class="table_schedule" >

| Matsue.rb定例会R01.12(#115)| 終了(24名参加) | 2019/12/21 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 100619) %> |
| Matsue.rb定例会R01.11(#114)| 終了(15名参加) | 2019/11/16 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 99705) %> |
| Matsue.rb定例会R01.10(#113)| 終了(14名参加) | 2019/10/26 9:30-17:00 | <%= link_to_osslab %>  | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 99226) %> |
| Matsue.rb定例会R01.09(#112)| 終了 | 2019/09/28 9:30-17:00 | 松江テルサ4F 大会議室 | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 96722) %> |
| Matsue.rb定例会R01.08(#111)| 終了(16名参加) | 2019/08/24 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 95430) %> |
| Matsue.rb定例会R01.07(#110)| 終了(9名参加) | 2019/07/27 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 94122) %> |
| Matsue.rb定例会R01.06(#109)| 終了(10名参加) | 2019/06/29 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 92767) %> |
| Matsue.rb定例会R01.05(#108)| 終了(17名参加) | 2019/05/25 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 90175) %> |
| Matsue.rb定例会H31.04(#107)| 終了(12名参加) | 2019/04/20 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 89076) %> |
| Matsue.rb定例会H31.03(#106)| 終了(8名参加) | 2019/03/23 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 87778) %> |
| Matsue.rb定例会H31.02(#105)| 終了(20名参加) | 2019/02/24 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 86164) %> |
| Matsue.rb定例会H31.01(#104)| 終了(16名参加) | 2019/01/19 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 84678) %> |

</div>


## 平成30年

<div markdown="1" class="table_schedule" >


|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会H30.12(#103)| 終了(12名参加) | 2018/12/16 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 83295) %> |
| Matsue.rb定例会H30.11(#102)| 終了(22名参加) | 2018/11/17 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 82708) %> |
| Matsue.rb定例会H30.10(#101)| 終了(22名参加) | 2018/10/27 13:30-17:00 | 松江センタービル2階ファーエンドテクノロジー様 | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 81114) %> |
| Matsue.rb定例会H30.09(#100)| 終了(21名参加) | 2018/09/29 13:30-17:00 | <%= link_to_terrsa %> 4F 研修室2 | 不要   |一般300円、学生無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 79691) %> |
| Matsue.rb定例会H30.08(#99) | 終了(14名参加) | 2018/08/18 13:30-17:00 | <%= link_to_terrsa %> 4F 研修室2 | 不要   |一般300円、学生無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 77594) %> |
| Matsue.rb定例会H30.07(#98) | 終了(15名参加) | 2018/07/21 13:30-17:00 | <%= link_to_terrsa %> 4F 研修室2 | 不要   |一般200円、学生無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 76528) %> |
| 松江Ruby会議09             | 終了(50名参加) | 2018/06/30 11:00-17:40| <%= link_to_osslab %> | 必要   |無料| <%= link_to("松江Ruby会議09", "/matrk09") %><br /><%= link_to("Togetterまとめ", "https://togetter.com/li/1243152") %> |
| Matsue.rb定例会H30.06(#97) | 終了(27名参加) | 2018/06/23 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 75223) %> |
| Matsue.rb定例会H30.05(#96) | 終了(23名参加) | 2018/05/26 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 73573) %> |
| Matsue.rb定例会H30.04(#95) | 終了(19名参加) | 2018/04/21 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 72428) %> |
| Matsue.rb定例会H30.03(#94) | 終了(21名参加) | 2018/03/24 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 70958) %> |
| Matsue.rb定例会H30.02(#93) | 終了(11名参加) | 2018/02/18 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 70050) %> |
| Matsue.rb定例会H30.01(#92) | 終了(13名参加) | 2018/01/27 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 68511) %> |

</div>


## 平成29年

<div markdown="1" class="table_schedule" >


|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会H29.12(#91) | 終了(16名参加) | 2017/12/10 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 67285) %> |
| Matsue.rb定例会H29.11(#90) | 終了(10名参加) | 2017/11/12 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 66559) %> |
| Matsue.rb定例会H29.10(#89) | 終了(12名参加) | 2017/10/21 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 63109) %> |
| Matsue.rb定例会H29.09(#88) | 終了(12名参加) | 2017/09/23 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 63108) %> |
| Matsue.rb定例会H29.08(#87) | 終了(27名参加) | 2017/08/26 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 63107) %> |
| Matsue.rb定例会H29.07(#86) | 終了(16名参加) | 2017/07/29 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= link_to_doorkeeper('Doorkeeper', 'matsue-rb', 63106) %> |
| Matsue.rb定例会H29.06(#85) | 終了(25名参加) | 2017/06/24 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1698009216881553) %> |
| Matsue.rb定例会H29.05(#84) | 終了(25名参加) | 2017/05/27 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(745641788933912) %> |
| Matsue.rb定例会H29.04(#83) | 終了(30名参加) | 2017/04/15 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1112544968867316) %> |
| Matsue.rb定例会H29.03(#82) | 終了(23名参加) | 2017/03/18 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(389152998094646) %> |
| Matsue.rb定例会H29.02(#81) | 終了(22名参加) | 2017/02/19 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1691562187821295) %> |
| Matsue.rb定例会H29.01(#80) | 終了(20名参加) | 2017/01/28 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1799986040289186) %> |


</div>

## 平成28年

<div markdown="1" class="table_schedule" >


|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| 松江Ruby会議08        | 終了(91名参加) | 2016/12/17 11:00-17:40| <%= link_to_terrsa %> 4F 大会議室 | 必要   |無料| <%= link_to("松江Ruby会議08", "/matrk08") %><br /><%= link_to("るびま記事", "https://magazine.rubyist.net/articles/0056/0056-MatsueRubyKaigi08Report.html")%><br /><%= link_to("Togetterまとめ", "https://togetter.com/li/1061092") %><br />Flickr(<%= create_links(::PHOTO_PATHS[:matrk8]) %>)<br /><%= link_to("YouTube", "https://www.youtube.com/playlist?list=PLbJxhePIoIPBU5f0cAn4BceCG48EGSHsA") %> |
| Matsue.rb定例会H28.11(#79) | 終了(24名参加) | 2016/11/27 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(331157923889359) %> |
| Matsue.rb定例会H28.10(#78) | 終了(33名参加) | 2016/10/15 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(615508341956073) %> |
| Matsue.rb定例会H28.09(#77) | 終了(29名参加) | 2016/09/03 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(102458883520407) %> |
| Matsue.rb定例会H28.08(#76) | 終了(31名参加) | 2016/08/20 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(903911573054422) %> |
| Matsue.rb定例会H28.07(#75) | 終了(31名参加) | 2016/07/23 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(184144341988507) %> |
| Matsue.rb定例会H28.06(#74) | 終了(36名参加) | 2016/06/25 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1313416428674007) %> |
| Matsue.rb定例会H28.05(#73) | 終了(27名参加) | 2016/05/28 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1135822929796521) %> |
| Matsue.rb定例会H28.04(#72) | 終了(28名参加) | 2016/04/16 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(210468865985568) %> |
| Matsue.rb定例会H28.03(#71) | 終了(29名参加) | 2016/03/19 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(713462498783740) %> |
| Matsue.rb定例会H28.02(#70) | 終了(30名参加) | 2016/02/20 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(509431972570908) %> |
| Matsue.rb定例会H28.01(#69) | 終了(25名参加) | 2016/01/23 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(822037184571750) %> |


</div>


## 平成27年

<div markdown="1" class="table_schedule" >


|イベント名                  |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|----------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会H27.12(#68) | 終了(21名参加) | 2015/12/26 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1002152419848347) %> |
| Matsue.rb定例会H27.11(#67) | 終了(20名参加) | 2015/11/28 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1636150683321966) %> |
| Matsue.rb定例会H27.10(#66) | 終了(27名参加) | 2015/10/24 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1723821987841280) %> |
| 松江Ruby会議07        | 終了(66名参加) | 2015/09/26 11:00-17:10| <%= link_to_terrsa %> 4F 大会議室 | 必要   |無料| <%= link_to("松江Ruby会議07", "/matrk07") %><br /><%= link_to("るびま記事", "https://magazine.rubyist.net/articles/0052/0052-MatsueRubyKaigi07Report.html")%><br /><%= link_to("Togetterまとめ", "http://togetter.com/li/895041") %><br />Flickr(<%= create_links(::PHOTO_PATHS[:matrk7]) %>)<br /><%= link_to("YouTube", "https://www.youtube.com/playlist?list=PLbJxhePIoIPBSYjO2enmqSTpucHuHiA9S") %> |
| Matsue.rb定例会H27.08(#65) | 終了(24名参加) | 2015/08/29 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(109595892707985) %> |
| Matsue.rb定例会H27.07(#64) | 終了(25名参加) | 2015/07/25 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1499240573634239) %> |
| Matsue.rb定例会H27.06(#63) | 終了(26名参加) | 2015/06/27 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(342643939277249) %> |
| Matsue.rb定例会H27.05(#62) | 終了(29名参加) | 2015/05/23 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1556856234566166) %> |
| Matsue.rb定例会H27.04(#61) | 終了(35名参加) | 2015/04/25 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1579828722258234) %> |
| Matsue.rb定例会H27.03(#60) | 終了(28名参加) | 2015/03/21 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(579970488815650) %> |
| Matsue.rb定例会H27.02(#59) | 終了(29名参加) | 2015/02/28 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(1518654511730320) %> |
| Matsue.rb定例会H27.01(#58) | 終了(23名参加) | 2015/01/10 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料| <%= fbe(632355086875371) %> |


</div>


## 平成26年

<div markdown="1" class="table_schedule" >

|イベント名                |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|--------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| 松江Ruby会議06           |終了(57名参加)| 2014/12/20 13:00-17:45| <%= link_to_osslab %>  | 必要   |無料| <%= link_to("松江Ruby会議06", "/matrk06") %><br/><%= link_to("るびま記事", "https://magazine.rubyist.net/articles/0051/0051-MatsueRubyKaigi06Report.html")%><br /><%= link_to("Togetterまとめ", "http://togetter.com/li/760234") %><br />Flickr(<%= create_links(::PHOTO_PATHS[:matrk6]) %>)<br /><%= link_to("YouTube", "https://www.youtube.com/playlist?list=PLbJxhePIoIPDCF_KeFc-U5W4XdmTYWPVd") %> |
| Matsue.rb定例会H26.11(#57)<br/>(<%= link_to_sproutrb(event_id: 17153) %>,<br/><%= link_to_dojo(event_id: 16083) %>と同時開催) |終了(27名参加)| 2014/11/15 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(1452701574977672) %> |
| Matsue.rb定例会H26.10(#56)<br/>(<%= link_to_sproutrb(event_id: 16353) %>,<br/><%= link_to_dojo(event_id: 15973) %>と同時開催) |終了(21名参加)| 2014/10/25 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(778993778798159) %> |
| Matsue.rb定例会H26.09(#55)<br/>(<%= link_to_sproutrb(event_id: 15390) %> と同時開催)    |終了(18名参加)| 2014/09/27 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(732882966770439) %> |
| Matsue.rb定例会H26.08(#54)<br/>(スプラウト.rb と同時開催)    | 天候悪化により中止<br/>(スプラウト.rbも同様) | 2014/08/09 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(1530252203862293) %> |
| Matsue.rb定例会H26.07(#53)<br/>(<%= link_to_sproutrb(event_id: 13044) %> と同時開催) |終了(17名参加)| 2014/07/19 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(478111068988883) %> |
| Matsue.rb定例会H26.06(#52)<br/>(<%= link_to_sproutrb(event_id: 11019) %> と同時開催) |終了(22名参加)| 2014/06/28 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(761156757242034) %> |
| Matsue.rb定例会H26.05(#51)    |終了(13名参加)| 2014/05/31 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(351258431683303) %> |
| Matsue.rb定例会H26.04(#50)    |終了(15名参加)| 2014/04/26 9:30-17:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(745294255504952) %> |
| 松江Ruby会議05                |終了(午前33名、午後40名参加)| 2014/03/15 11:00-13:00<br />2014/03/15 13:25-19:30<br /> | <%= link_to_osslab %> | 必要   |無料| <%= link_to("松江Ruby会議05", "/matrk05") %><br /><%= link_to("るびま記事", "https://magazine.rubyist.net/articles/0050/0050-MatsueRubyKaigi05.html")%><br /><%= link_to("Togetterまとめ", "http://togetter.com/li/642795") %> |
| Matsue.rb定例会H26.02(#49)    |終了(24名参加)| 2014/02/08 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(605450046180950) %> |
| Matsue.rb定例会H26.01(#48)    |終了(18名参加)| 2014/01/11 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(508877202553007) %> |


</div>

## 平成25年

<div markdown="1" class="table_schedule" >


| イベント名                |状態          | 日時                  | 会場                   |事前登録|料金|リンク                      |
|---------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会H25.12(#47)|終了(18名参加)| 2013/12/07 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(438058782974125) %>|
| Matsue.rb定例会H25.11(#46)|終了(15名参加)| 2013/11/16 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(155712167967146) %>|
| Matsue.rb定例会H25.10(#45)|終了(10名参加)| 2013/10/19 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(619535371411852) %>|
| Matsue.rb定例会H25.09(#44)|終了(15名参加)| 2013/09/21 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(1405176589701140) %>|
| Matsue.rb定例会H25.08(#43)|終了(10名参加)| 2013/08/17 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(328418553959524) %> |
| Matsue.rb定例会H25.07(#42)|終了(15名参加)| 2013/07/20 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(407769719337901) %> |
| Matsue.rb定例会H25.06(#41)|終了(10名参加)| 2013/06/30 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(454912721252041) %> |
| Matsue.rb定例会H25.05(#40)|終了(11名参加)| 2013/05/18 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(171437773019862) %> |
| Matsue.rb定例会H25.04(#39)|終了(12名参加)| 2013/04/27 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(500733719987832) %> |
| Matsue.rb定例会H25.03(#38)|終了(14名参加)| 2013/03/30 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(507413099310625) %> |
| Matsue.rb定例会H25.02(#37)|終了(15名参加)| 2013/02/09 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(327732273995257) %> |
| Matsue.rb定例会H25.01(#36)|終了(15名参加)| 2013/01/26 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(132789706886719) %> |


</div>

## 平成24年

<div markdown="1" class="table_schedule" >


|イベント名                 |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|---------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会H24.12(#35)|終了    | 2012/12/08 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(308020945970668) %>|
| Matsue.rb定例会H24.11(#34)|終了    | 2012/11/17 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(289218707863167) %>|
| Matsue.rb定例会H24.10(#33)|終了    | 2012/10/20 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(344019002354189) %> |
| 松江Ruby会議04           |終了(約120名参加)| 2012/09/01 10:00-17:00 | 松江テルサ | 必要   |無料| <%= link_to("松江Ruby会議04", "http://regional.rubykaigi.org/matsue04") %><br /><%= link_to("るびま記事", "https://magazine.rubyist.net/articles/0040/0040-MatsueRubyKaigi04Report.html")%><br/><%= link_to("OSPN記事", "http://www.ospn.jp/press/20120914osc2012-shimane-report.html") %> |
| Matsue.rb定例会H24.09(#32)<br />(松江Ruby会議04内)    |終了    | 2012/09/01 10:00-15:00 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(276110739164783) %> |
| Matsue.rb定例会H24.08(#31)|終了    | 2012/08/25 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(339245126155975) %> |
| Matsue.rb定例会H24.07(#30)|終了    | 2012/07/07 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(261114883994167) %> |
| Matsue.rb定例会H24.06(#29)|終了    | 2012/06/23 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(306595939429789) %> |
| Matsue.rb定例会H24.05(#28)|終了    | 2012/05/19 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(171909826268488) %> |
| Matsue.rb定例会H24.04(#27)|終了    | 2012/04/22 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(368878446496854) %> |
| Matsue.rb定例会H24.03(#26)|終了    | 2012/03/17 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(338542206186878) %> |
| Matsue.rb定例会H24.02(#25)|終了    | 2012/02/25 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(261902663883452) %> |
| Matsue.rb定例会H24.01(#24)|終了    | 2012/01/21 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(321176324572750) %> |


</div>

## 平成23年 <%# 定例会#13〜23 %>

<div markdown="1" class="table_schedule" >


|イベント名                 |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|---------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会H23.12(#23)|終了    | 2011/12/17 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(277196522331385) %> |
| Matsue.rb定例会H23.11(#22)|終了    | 2011/11/26 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(314571291903004) %> |
| Matsue.rb定例会H23.10(#21)|終了    | 2011/10/29 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(234021273313564) %> |
| Matsue.rb定例会H23.09(#20)|終了    | 2011/09/24 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(262547307101550) %> |
| Matsue.rb定例会H23.08(#19)|終了    | 2011/08/28 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(135784423175244) %> |
| 松江Ruby会議03            |終了(59名参加)| 2011/07/03 13:00-18:00 | 松江テルサ | 必要   |無料| <%= link_to("松江Ruby会議03", "http://regional.rubykaigi.org/matsue03") %><br /><%= link_to("るびま記事", "https://magazine.rubyist.net/articles/0035/0035-MatsueRubyKaigi03Report.html")%> |
| Matsue.rb定例会H23.06(#18)|終了    | 2011/06/25 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料|<%= fbe(136465133098778) %> |
| Matsue.rb定例会H23.05(#17)|終了    | 2011/05/28 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H23.04(#16)|終了    | 2011/04/23 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H23.03(#15)|終了    | 2011/03/19 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H23.02(#14)|終了    | 2011/02/26 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H23.01(#13)|終了    | 2011/01/22 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |


</div>

## 平成22年

<div markdown="1" class="table_schedule" >


|イベント名                 |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|---------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| Matsue.rb定例会H22.12(#12)|終了    | 2010/12/23 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb特別編           |終了    | 2010/11/27 14:00-14:45 | 松江テルサ | 必要   |無料| <%= link_to("OSC2010 Shimane", "http://www.ospn.jp/osc2010-shimane/modules/eguide/event.php?eid=19") %> |
| Matsue.rb定例会H22.10(#11)|終了    | 2010/10/30 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H22.09(#10)|終了    | 2010/09/26 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H22.08(#09) |終了(約10名参加) | 2010/08/28 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H22.07(#08) |終了(約15名参加) | 2010/07/31 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H22.05(#07) |終了(9名参加) | 2010/05/23 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H22.04(#06) |終了    | 2010/04/25 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H22.03(#05) |終了    | 2010/03/20 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 松江Ruby会議02            |終了(74名参加)| 2010/02/13 13:00-18:00 | 松江テルサ | 必要   |無料| <%= link_to("松江Ruby会議02", "http://regional.rubykaigi.org/matsue02") %><br /><%= link_to("るびま記事", "https://magazine.rubyist.net/articles/0034/0034-MatsueRubyKaigi02Report.html")%> |


</div>

## 平成21年

<div markdown="1" class="table_schedule" >


|イベント名                 |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|---------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| 第13回 Ruby勉強会 in 松江 |終了(25名参加) | 2009/11/28 11:30-16:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第12回 Ruby勉強会 in 松江 |終了(午前11人、午後36人参加) | 2009/07/11 11:30-16:00 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H21.04(#04)|終了    | 2009/04/18 13:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第11回 Ruby勉強会 in 松江 |終了   | 2009/04/18 9:30-12:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H21.03(#03)|終了    | 2009/03/14 13:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第10回 Ruby勉強会 in 松江 |終了   | 2009/03/14 9:30-12:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H21.02(#02)|終了    | 2009/02/21 13:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第9回 Ruby勉強会 in 松江  |終了    | 2009/02/21 9:30-12:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| Matsue.rb定例会H21.01(#01)|終了    | 2009/01/17 13:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第8回 Ruby勉強会 in 松江  |終了    | 2009/01/17 9:30-12:30 | <%= link_to_osslab %> | 不要   |無料| なし |


</div>

## 平成20年

<div markdown="1" class="table_schedule" >


|イベント名                |状態          |日時                   |会場                    |事前登録|料金|リンク                      |
|--------------------------|--------------|-----------------------|------------------------|--------|----|----------------------------|
| 第7回 Ruby勉強会 in 松江 |終了    | 2008/12/13 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第6回 Ruby勉強会 in 松江 |終了    | 2008/11/08 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第5回 Ruby勉強会 in 松江 |終了    | 2008/10/11 9:30-17:30 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第4回 Ruby勉強会 in 松江 |終了    | 2008/09/13 10:15-12:00 | 松江テルサ | 必要   |無料| <%= link_to("OSC2008 Shimane", "http://www.ospn.jp/osc2008-shimane/modules/eguide/event.php?eid=16") %> |
| 第3回 Ruby勉強会 in 松江 |終了    | 2008/08/23 10:15-12:00 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第2回 Ruby勉強会 in 松江 |終了    | 2008/07/12 9:30-12:00 | <%= link_to_osslab %> | 不要   |無料| なし |
| 第1回 Ruby勉強会 in 松江 |終了    | 2008/06/14 9:30-12:00 | <%= link_to_osslab %> | 不要   |無料| なし |


</div>

</div>
