.container mark {
  margin-top: 400px;
}

/* speaker */
.keynote-person .unak {
  background-image: url('../img/unak.jpg')
}
.keynote-person .unak:after {
  content: "基調講演";
}

.keynote-person .matz {
  background-image: url('../img/matz.jpg')
}
.keynote-person .matz:after {
  content: "対談者";
}
