.content {
  background-color: #fff;
}

.content__title {
  text-align: center;
}

.about {
  text-align: center;
  margin-bottom: 68px;
  padding: 0 20px;
}

.about__entry-button {
  margin: 0 auto;
}

.schedule {
  text-align: center;
  margin-bottom: 68px;
  padding: 20px;
  background-color: red;
  color: #fff;
  opacity: 0.7;
}

.schedule__item {
  max-width: 468px;
  margin: 0 auto 68px;
}

.schedule__time {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.map {
  width: 100%;
  height: 350px;
  border: 0;
  margin-bottom: 68px;
}
