* {
  font-family: 'Noto Sans JP', sans-serif;
}

.content {
  background-color: rgb(255, 255, 255);
}

/* title */
.title {
  background: url('../img/cover.jpg') fixed center/cover;
  height: 100vh;
}

.title__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.title__cover {
  padding: 60px 40px;
  font-size: 24px;
  text-align: center;
  color: #f75e5e;
  border-radius: 2px;
  box-sizing: border-box;
}

.title__main {
  margin-top: 0;
  font-size: 40px
}

.content__title {
  text-align: center;
}

.icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  background-size: contain;
}

.icon--about {
  background-image: url('../img/about.png');
}

.button {
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-top: 2px solid;
  border-bottom: 2px solid;
  text-decoration: none;
}

/* about */
.about {
  text-align: center;
  padding: 20px;
}

/* schedule */
.schedule {
  text-align: center;
  margin-bottom: 68px;
  padding: 20px;
  background: #f75e5e;
  color: #fff;
}

.schedule__item {
  max-width: 468px;
  margin: 0 auto 68px;
}

.schedule__time {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

/* map */
.map {
  width: 100%;
  height: 350px;
  border: 0;
  margin-bottom: 68px;
}
