@charset "UTF-8";
a:link{
  color: #0000df;
}
a:visited{
  color: #5700b3;
}
a:hover{
  color: #b00060;
}
/* toc menu */
ul.menu {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  background-color: transparent;
  background-image: url("/images/bn/outline.png");
  background-position: 0 0;
  background-repeat: repeat-x; 
}
ul.menu li {
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica , "游ゴシック体" , "Yu Gothic" , "メイリオ" ,sans-serif;
}
ul.menu li:first-child {
  position: relative;
}
ul.menu li img {
  margin-top: 0;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 185px;
}
ul.menu li img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}
ul.menu li img:hover {
  -webkit-filter: saturate(136%);
  -moz-filter: saturate(136%);
  -o-filter: saturate(136%);
  -ms-filter: saturate(136%);
  filter: saturate(136%);
}
.toc {
  margin: 16px 0 0;
  font-size: 16px;
  text-shadow: 1px 1px 1px #d3d3d3;
  background: -moz-linear-gradient(top,#fff 0%,#fff 3%,#f3f3f3 3%,#fff);
  background: -ms-linear-gradient(top,#fff 0%,#fff 3%,#f3f3f3 3%,#fff);
  background: -o-linear-gradient(top,#fff 0%,#fff 3%,#f3f3f3 3%,#fff);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.03,#fff), color-stop(0.03,#f3f3f3), to(#fff));
  color: #111;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  border: 1px solid #CCC;
  border-bottom: none;
  width: 100%;
  padding: 9px 0 0;
  height: 35px;
}  
.toc:hover {
  background: -moz-linear-gradient(top,#fff 0%,#fff 3%,#e3e3e3 3%,#fff);
  background: -ms-linear-gradient(top,#fff 0%,#fff 3%,#e3e3e3 3%,#fff);
  background: -o-linear-gradient(top,#fff 0%,#fff 3%,#e3e3e3 3%,#fff);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.03,#fff), color-stop(0.03,#e3e3e3), to(#fff));
  text-shadow: 0 1px 1px #bbb;
}

h1 {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
h1:before {
  content: url('/images/bn/gem.svg');
  padding-right: 10px;
}
h2 {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
h2:before {
  content: url('/images/bn/gem.svg');
  padding-right: 10px;
}

.x_logo, .github_logo {
  width: 18px;
  height: 18px;
  filter: brightness(0);
  opacity: 0.4;
}

/* footer */
.matsuerb_logo:hover {
  -webkit-filter: saturate(136%);
  -moz-filter: saturate(136%);
  -o-filter: saturate(136%);
  -ms-filter: saturate(136%);
  filter: saturate(136%);
}

/* elememts */
iframe {
  margin :0.5em 0 0;
  padding: 0;
  width: 100%;
  min-height: 120px;
}
@media only screen and (max-width: 1300px){
  .toc {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1000px){
  .toc {
    font-size: 13px;
  }
}
@media only screen and (max-width: 900px){
  .toc {
    font-size: 12px;
    padding: 11px 0 0;
    height: 40px;
  }
}
@media only screen and (max-width: 800px){
  .toc {
    font-size: 11px;
  }
}
@media only screen and (max-width: 700px){
  .toc {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px){
  div.doc {
    padding: 0;
  }
  ul.menu li {
    width: 100%;
  }
  ul.menu li img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: auto;
    -moz-border-radius: 0 0 0 28px;
    -webkit-border-radius: 0 0 0 28px;
    border-radius: 0 0 0 28px;
    border-left: solid 28px #fff;
  }
  ul.menu li img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .toc {
    font-size: 16px;
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 100%;
    padding: 9px 0 6px;
  }
}
.table_wrapper table,
.table_schedule table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 10px 0 0 3px;
}
.table_wrapper table th,
.table_schedule table th  {
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  padding: 1px 10px 0px;
  text-align: center;
  font-weight: normal;
}
.table_wrapper table td,
.table_schedule table td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: center;
}
.table_schedule table td:first-child{
  text-align: left;
}
.table_schedule table td:nth-child(1) {
  width: 20%;
}
.table_schedule table td:nth-child(2) {
  width: 15%;
}
.table_schedule table td:nth-child(3) {
  width: 20%;
}
.table_schedule table td:nth-child(4) {
  width: 20%;
}
.table_schedule table td:nth-child(5) {
  width: 7%;
}
.table_schedule table td:nth-child(6) {
  width: 6%;
}
.table_schedule table td:nth-child(7) {
  width: 10%;
}

@media only screen and (max-width: 600px) {
.page-title{
  margin: 2px 0 0 0;
}
 th {
    display: none;
  }
  td {
    display: block;
    width: 100%;
  }
  .table_schedule table td:nth-child(1),
  .table_schedule table td:nth-child(2),
  .table_schedule table td:nth-child(3),
  .table_schedule table td:nth-child(4),
  .table_schedule table td:nth-child(5),
  .table_schedule table td:nth-child(6),
  .table_schedule table td:nth-child(7) {
    width: 100%;
  }
  .table_wrapper table,
  .table_schedule table {
    border: none;
  }
  .table_wrapper table th,
  .table_schedule table th {
    border: none;
  }
  .table_wrapper table td,
  .table_schedule table td {
    border: none;
    text-align: left;
    padding: 2px 0;
  }
  .table_wrapper table td:nth-child(1):before {
    content: "イベント名：";
  }
  .table_wrapper table td:nth-child(2):before {
    content: "説明 ：";
    word-spacing: 2.5em;
  }
  .table_wrapper table td:nth-child(3):before {
    content: "時間 ：";
    word-spacing: 2.5em;
  }
 .table_schedule table td:nth-child(1):before {
    content: "イベント名：";
  }
  .table_schedule table td:nth-child(2):before {
    content: "状態 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(3):before {
    content: "日時 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(4):before {
    content: "会場 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(5):before {
    content: "事前登録 ：";
    word-spacing: 0.5em;
  }
  .table_schedule table td:nth-child(6):before {
    content: "料金 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(7):before {
    content: "リンク ：";
    word-spacing: 1.5em;
  }
  .table_wrapper table td:nth-child(2),
  .table_schedule table td:nth-child(1),
  .table_schedule table td:nth-child(7) {
    padding-left: 6em;
    text-indent: -6em;
  }
 .table_schedule table td:nth-child(1) {
    padding-top: 10px;
  }
 .table_schedule table td:nth-child(7) {
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
  }
   .table_schedule table td:before{
    color :#000;
    font-family:"Osaka−等幅","ＭＳ ゴシック","monospace";
  }
}
