@charset "UTF-8";
/* seitecontents css */
.page-title{
  border-bottom: 1px solid #ccc;
  margin: 1px 0 0 3px;
}
.page-title h1{
  font-size: 1.6em;
  border-left: 6px solid #af3a3a;
  padding: 1px 0 0 17px;
  margin: 0 0 10px 0;
  line-height: 100%;
}
.body{
  padding: 0 0 0 3px;
  line-height: 150%;
}
.body h2{
  font-size: 1.4em;
  font-weight: bold;
  padding: 0 0 4px 0;
  border-bottom: 1px dotted #999;
  margin: 20px 0 15px;
  text-shadow: none;
}
.body h2:before {
  content:"■";
  color: #b03333;
  background: #fff;
  font-size: 0.5em;
  vertical-align: 3px;
  letter-spacing: 13px;
}
h3 {
  font-size: 1.2em;
  margin : 15px 0 0;
  padding: 0;
}
h3:before {
  content: "■";
  color: #cecece;
  background: #fff;
  font-size: 0.3em;
  vertical-align: 3px;
  letter-spacing: 7px;
}
h4 {
  margin : 6px 0 0;
  padding: 0;
}
.body p{
  margin: 12px 0 10px;
}
.body ul{
  margin: 3px 0 10px 15px;
  padding: 0;
  list-style: none;
}
.body ul li {
  font-size: 1em;
  padding: 0 5px 0 0;
  margin: 0 0 3px 0;
  list-style: none;
}
.body ul li:before {
  content: url("/images/bn/li.png") ;
  padding-right: 5px;
  width: 4px;
  height: 8px;
}
.table_wrapper table,
.table_schedule table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 10px 0 0 3px;
}
.table_wrapper table th,
.table_schedule table th  {
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  padding: 1px 10px 0px;
  text-align: center;
  font-weight: normal;
}
.table_wrapper table td,
.table_schedule table td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: center;
}
.table_schedule table td:first-child{
  text-align: left;
}
.table_schedule table td:nth-child(1) {
  width: 20%;
}
.table_schedule table td:nth-child(2) {
  width: 15%;
}
.table_schedule table td:nth-child(3) {
  width: 20%;
}
.table_schedule table td:nth-child(4) {
  width: 20%;
}
.table_schedule table td:nth-child(5) {
  width: 7%;
}
.table_schedule table td:nth-child(6) {
  width: 6%;
}
.table_schedule table td:nth-child(7) {
  width: 10%;
}
#member_wrapper td {
  padding: 0 0 10px;
  border-bottom: 1px dotted #ccc;
  vertical-align: top;
}
#member_wrapper td:nth-child(odd) {
  width: auto;
  padding: 16px 0 0;
}
#member_wrapper td:nth-child(even) {
  width: 50%;
  padding: 0 5px 10px 18px;
}
#member_wrapper .profile {
  vertical-align: text-top;
}
#member_wrapper img {
  border: 1px solid #e3e3e3;
}
#member_wrapper .profile h3 {
  font-size: 1.2em;
}
#member_wrapper .profile h4 {
  margin: 5px 0 0 17px;
  font-size: 1.1em;
}
#member_wrapper .profile p {
  margin: 5px 0 0 17px;
  line-height: 140%;
}
#member_wrapper .profile ul {
  margin: 0 0 0 1.1em;
  padding: 0;
}
#member_wrapper .profile ul li {
  margin-right: 0;
  display: inline;
}

@media only screen and (max-width: 600px) {
.page-title{
  margin: 2px 0 0 0;
}
.body{
  padding: 0;
  line-height: 150%;
}
  #member_wrapper .profile h3 {
  margin: 5px 0 0;
 }
 th {
    display: none;
  }
  td {
    display: block;
    width: 100%;
  }
  .table_schedule table td:nth-child(1),
  .table_schedule table td:nth-child(2),
  .table_schedule table td:nth-child(3),
  .table_schedule table td:nth-child(4),
  .table_schedule table td:nth-child(5),
  .table_schedule table td:nth-child(6),
  .table_schedule table td:nth-child(7) {
    width: 100%;
  }
  #member_wrapper td {
    border: none;
  }
  #member_wrapper td:nth-child(odd) ,
  #member_wrapper td:nth-child(even) {
    width: 100%;
    padding: 10px 0 0;
  }
  #member_wrapper td:nth-child(even) {
    width: 100%;
    padding: 0 0 0;
  }
  #member_wrapper td:nth-child(odd),
  #member_wrapper td:nth-child(even) {
    width: 100%;
  }
  .table_wrapper table,
  .table_schedule table {
    border: none;
  }
  .table_wrapper table th,
  .table_schedule table th {
    border: none;
  }
  .table_wrapper table td,
  .table_schedule table td {
    border: none;
    text-align: left;
    padding: 2px 0;
  }
  .table_wrapper table td:nth-child(1):before {
    content: "イベント名：";
  }
  .table_wrapper table td:nth-child(2):before {
    content: "説明 ：";
    word-spacing: 2.5em;
  }
  .table_wrapper table td:nth-child(3):before {
    content: "時間 ：";
    word-spacing: 2.5em;
  }
 .table_schedule table td:nth-child(1):before {
    content: "イベント名：";
  }
  .table_schedule table td:nth-child(2):before {
    content: "状態 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(3):before {
    content: "日時 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(4):before {
    content: "会場 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(5):before {
    content: "事前登録 ：";
    word-spacing: 0.5em;
  }
  .table_schedule table td:nth-child(6):before {
    content: "料金 ：";
    word-spacing: 2.5em;
  }
  .table_schedule table td:nth-child(7):before {
    content: "リンク ：";
    word-spacing: 1.5em;
  }
  .table_wrapper table td:nth-child(2),
  .table_schedule table td:nth-child(1),
  .table_schedule table td:nth-child(7) {
    padding-left: 6em;
    text-indent: -6em;
  }
 .table_schedule table td:nth-child(1) {
    padding-top: 10px;
  }
  #member_wrapper td:nth-child(even) ,
 .table_schedule table td:nth-child(7) {
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
  }
   .table_schedule table td:before{
    color :#000;
    font-family:"Osaka−等幅","ＭＳ ゴシック","monospace";
  }
}
