h2 {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
h2:before {
  content: url('/images/bn/gem.svg');
  padding-right: 10px;
}
.title {
  background: #eb1d15;
  color: white;
}
.news {
  height: 250px;
}
