/* sponsor */
#sponser {
}
  #sponser .logo-wrapper {
    height: 100px;
    width: 285px;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
  }

#sponser ul.sponser_list_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
#sponser ul.sponser_list_items li {
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
#sponser ul.sponser_list_items li a { display: block; }
#sponser ul.sponser_list_items li a span {
  display: block;
}
#sponser ul.sponser_list_items li a span.item_img {
  text-align: center;
  max-width: 170px;
  margin: auto auto 10px auto;
}
#sponser ul.sponser_list_items li a span.item_img img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
#sponser ul.sponser_list_items li a span.item_img img.misoca {
  max-width: 130px;
  margin-bottom: 0;
}
#sponser ul.sponser_list_items li a span.item_title {
  text-align: center;
  font-size: 80%;
}
