// 
body {
}
.top-image {
  position: relative;
  height: 130px;
  background-size: cover;
}
.nav {

}

// container
.container {

}
  .container ul,
  .container ol,
  .container dt,
  .container p {
    margin-left: 50px;
  }
  .container dd {
    margin-left: 80px;
  }


// infomation
#infomation {

}
  #infomation dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 30px 0;
    margin: -2px 0 0 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: #fff;
    max-width: 1170px;
  }
    #infomation dl dt {
      float: left;
      width: 100px;
    }
    #infomation dl dd {
      margin-bottom: 12px;
    }

footer {
    margin: 50px 0 0 0;
    padding: 20px 0;
}
