---
title: 松江Ruby会議09
date: 2018年6月30日（土）
location: 松江オープンソースラボ
created_at: 2018/04/24
publish: true
---

<header class="bs-docs-nav" role="banner">
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><img src="img/matrb09Logo.png" alt="MATSUE Ruby Kaigi 09"></h1>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav menu">
          <li><a href="#">ホーム</a></li>
          <li><a href="#guidance">開催概要</a></li>
          <li><a href="#information">新着・お知らせ</a></li>
          <li><a href="#program">プログラム</a></li>
          <li><a href="#register">参加登録の案内</a></li>
          <li><a href="#sponser">スポンサー</a></li>
          <li><a href="#support">お問い合わせ先</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
  </nav>
</header>

<div class="top-image"></div>

<div class="container mark"></div>

<br><br>

<div id="guidance" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="outline">開催概要</h2>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <table class="table table-responsive table-condensed">
        <tr>
          <th width="20%">名称</th>
          <td>松江Ruby会議09</td>
        </tr>
        <tr>
          <th>開催日</th>
          <td>2018年6月30日（土）</td>
        </tr>
        <tr>
          <th>会場</th>
          <td>松江オープンソースラボ</td>
        </tr>
        <tr>
          <th>参加費</th>
          <td>無料</td>
        </tr>
        <tr>
          <th>主催</th>
          <td>Matsue.rb(まつえるびー)</td>
        </tr>
        <tr>
          <th>後援</th>
          <td>日本Rubyの会</td>
        </tr>
        <tr>
          <th>公式タグ</th>
          <td>Twitter: <a href="https://twitter.com/search?q=matrk09&src=typd&f=realtime" target="_blank">#matrk09</a></td>
        </tr>
        <tr>
          <th>中継</th>
          <td>YouTube: <a href="https://www.youtube.com/watch?v=Q4QBVKDZwcg" target="_blank">松江Ruby会議09</a></td>
        </tr>
      </table>
    </div>

    <div class="col-xs-12 col-md-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.62773773665!2d133.06001721495488!3d35.46400944946242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355704e36c4abdf9%3A0x404e8e5c9983181d!2z5p2-5rGf44Kq44O844OX44Oz44K944O844K544Op44Oc!5e0!3m2!1sja!2sjp!4v1524508374268" width="350" height="270" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>

<br><br>

<div id="purpose" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">目的</h2>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <p class="main-text font-Fenix">ゲスト講演を通して松江Rubyの歴史を振り返り、当たり前のようにRubyが使えることのありがたさを再認識する機会になればと思っています。</p>
      <p class="main-text font-Fenix">また、島根のエンジニアの発表を通して、参加者にRubyの楽しさを知ってもらいたいと思っています。</p>
    </div>
  </div>
</div>

<br><br>

<div id="information" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">新着・お知らせ</h2>
      </blockquote>
      <dl class="news_table">
        <dt>2018/05/26</dt><dd>本ページを公開しました。</dd>
      </dl>
      <dl class="news_table">
        <dt>2018/06/23</dt><dd>プログラム内容を更新しました。スポンサー様を掲載させていただきました。</dd>
      </dl>
      <dl class="news_table">
        <dt>2018/06/26</dt><dd>プログラム内容を更新しました。また、<%= link_to('開催概要', '#guidance')%>に当日の中継のリンクを記載しました。</dd>
      </dl>
      <dl class="news_table">
        <dt>2018/06/27</dt><dd>Ruby Quizの賞品を掲載させていただきました。</dd>
      </dl>
    </div>
  </div>
</div>

<br><br>

<div id="program" class="container">
  <blockquote>
    <h2 class="font-Fenix" id="message">プログラム</h2>
  </blockquote>
  <h3 class="font-Fenix" id="message">講演者ご紹介</h3>
  <div class="row">
    <div class="keynote-person">
      <div class="col-xs4 col-md-4">
        <span class="person matz"></span>
        <div class="profile">
          <span class="name">まつもとゆきひろ 氏</span>
          <span class="social">
            <a href="https://twitter.com/yukihiro_matz" class="twitter"></a>
            <a href="https://github.com/matz" class="github"></a>
          </span>
          <p class="description">
            我らがRubyの生みの親。小泉八雲氏と肩を並べて松江市名誉市民でもあり、Rubyを通して地方から世界のソフトウェア業界に多大な影響を与えています。今回も松江ならでは、基調講演でお話をしていただきます。
          </p>
        </div>
      </div>
      <div class="col-xs4 col-md-4">
        <span class="person inoue"></span>
        <div class="profile">
          <span class="name">井上浩 氏</span>
          <span class="social">
            <a href="https://twitter.com/nacl" class="twitter"></a>
          </span>
          <p class="description">
            株式会社ネットワーク応用通信研究所(NaCl) 代表取締役。会社設立当初から自由に使えるオープンソースソフトウェアを利用した事業を展開、座右の銘は「禍福は糾える縄のごとし」、又は「人生最後はチャラ」 ゲスト講演でお話いただきます。
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>Ruby Quiz賞品</h3>
      <br>
      <ul>
        <li>
          <p>
            echo dot、URANT Wifiスマート ユニバサール リモコン<br />
            （エクスウェア株式会社様　ご提供）<br />
          </p>
        </li>
        <li>
          <p>
            同社所蔵のオライリー書籍１万円分（目録）<br />
            （ファーエンドテクノロジー株式会社様　ご提供）<br />
          </p>
        </li>
        <li>
          <p>
            Google Home<br />
            （株式会社ネットワーク応用通信研究所（NaCl）様　ご提供）<br />
          </p>
        </li>
        <li>
          <p>
            Oculus Go(32GB)<br />
            （株式会社Misoca様　ご提供）<br />
          </p>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>タイムテーブル</h3>
      <br>
      <h4>午前の部</h4>
<%= render('_time_table', tbody_data: [
  ['11:00 〜 11:05', 'オープニング', ''],
  ['11:10 〜 11:55', 'ゲスト講演<br />「未定」', '株式会社ネットワーク応用通信研究所（NaCl）<br />井上浩 氏'],
  ['12:00 〜 13:30', '昼食休憩', '']
]).gsub(/^/, '      ') -%>

      <h4>午後の部</h4>
<%= render('_time_table', tbody_data: [
  ['13:30 〜 14:20', '基調講演', 'まつもとゆきひろ 氏'],
  ['14:20 〜 14:35', '休憩・写真撮影', ' - '],
  ['14:35 〜 14:50', 'session 1<br />「RedmineサーバのおもりをするついでにRedmineで色々遊んでみた」', '株式会社ネットワーク応用通信研究所（NaCl）<br />橋本将 氏'],
  ['14:50 〜 15:05', 'session 2<br />「僕とMastodon」', 'ゲームリンクス<br />平岡瞬 氏'],
  ['15:15 〜 15:40', 'LTセッション', ''],
  ['',               '松江ではたらく', '株式会社Misoca<br />加藤龍 氏'],
  ['',               '僕たちとRuby', '株式会社モンスター・ラボ<br />ハー・タイン 氏 & ポール 氏'],
  ['',               'わたしとスプラウト.rb', '株式会社日本ハイソフト<br />竹田喜世子 氏'],
  ['',               '未定', '株式会社ネットワーク応用通信研究所（NaCl）<br />前田修吾 氏'],
  ['15:45 〜 16:00', 'session 3<br />「若手エンジニア ＋ Rubyプロジェクト = ？？？」', 'ファーエンドテクノロジー株式会社<br />石川瑞希 氏'],
  ['16:00 〜 16:15', 'session 4<br />「後方互換の保ち方」', '株式会社Misoca<br />日高克也 氏'],
  ['16:15 〜 16:30', 'session 5<br />「Yet Another Ruby Application Framework "Alone"」', 'ITOC しまねソフト研究開発センター<br />東裕人 氏'],
  ['16:35 〜 17:20', 'Ruby Quiz', '-'],
  ['17:20 〜 17:30', 'クロージング', '-']
]).gsub(/^/, '      ') -%>
    </div>
  </div>
</div>

<br><br>

<div id="register" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">参加登録の案内</h2>
      </blockquote>
      <p class="main-text font-Fenix">参加登録は受付終了しました。</p>
    </div>
  </div>
</div>

<br><br>

<div id="sponser" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">スポンサー</h2>
      </blockquote>
    </div>

    <div class="col-xs-12 col-md-12">

      <h3>RubyQuizスポンサー</h3>

      <ul class="sponser_list_items">
        <li>
          <a href="https://www.xware.co.jp/" target="_blank">
            <span class="item_img"><img alt="xware" src="img/banner/xware.jpg" class="xware"></span>
            <span class="item_title">エクスウェア株式会社</span>
          </a>
        </li>
        <li>
          <a href="http://www.farend.co.jp/" target="_blank">
            <span class="item_img"><img alt="farend" src="img/banner/farend.jpg" class="farend"></span>
            <span class="item_title">ファーエンドテクノロジー株式会社</span>
          </a>
        </li>
        <li>
          <a href="http://www.netlab.jp/" target="_blank">
            <span class="item_img"><img alt="nacl" src="img/banner/nacl.jpg" class="nacl"></span>
            <span class="item_title">株式会社ネットワーク応用通信研究所（NaCl）</span>
          </a>
        </li>
        <li>
          <a href="https://www.misoca.jp/" target="_blank">
            <span class="item_img"><img alt="misoca" src="img/banner/misoca.png" class="misoca"></span>
            <span class="item_title">株式会社Misoca</span>
          </a>
        </li>
      </ul>


      <h3>懇親会スポンサー</h3>

      <ul class="sponser_list_items">
        <li>
          <a href="http://www.eastback.co.jp/" target="_blank">
            <span class="item_img"><img alt="eastback" src="img/banner/eastback.jpg" class="eastback"></span>
            <span class="item_title">株式会社イーストバック</span>
          </a>
        </li>
      </ul>

    </div>

  </div>
</div>

<br><br>

<div id="support" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <blockquote>
        <h2 class="font-Fenix" id="message">お問い合わせ</h2>
      </blockquote>
      <p class="main-text font-Fenix">松江Ruby会議09に関するお問い合わせは、matsuerubykaigi _at_ googlegroups.comまでメールにてご連絡ください。</p>
    </div>
  </div>
</div><!-- /.container -->
