---
title: 松江Ruby会議09
date: 2018年6月30日（土）
location: 松江オープンソースラボ
created_at: 2018/04/24
publish: true
kind: matrk
---

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/matrk09">MATSUE RUBY KAIGI 09</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#register">参加登録の案内</a></li>
        <li class="nav-item"><a class="nav-link" href="#guidance">開催概要</a></li>
        <li class="nav-item"><a class="nav-link" href="#information">新着・お知らせ</a></li>
        <li class="nav-item"><a class="nav-link" href="#program">プログラム</a></li>
        <li class="nav-item"><a class="nav-link" href="#sponser">スポンサー</a></li>
        <li class="nav-item"><a class="nav-link" href="#support">お問い合わせ先</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="py-5 text-center title">
  <img class="mx-auto mb-4" src="/images/ruby.png" width="60" height="60">
  <h1 class="display-5 fw-bold">MATSUE RUBY KAIGI 09</h1>
</div>

<div id="register" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>参加登録の案内</h2>
      </blockquote>
      <p>松江Ruby会議09の参加登録は受付終了しました。</p>
      <a href="https://matsue-rb.doorkeeper.jp/events/74091" target="_blank"><button class="button" type="button">参加登録</button></a>
      <a href="https://matsue-rb.doorkeeper.jp/events/75229" target="_blank"><button class="button" type="button">懇親会登録</button></a>
    </div>
  </div>
</div>

<div id="guidance" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2 id="outline">開催概要</h2>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-responsive table-condensed">
        <tr>
          <th>名称</th>
          <td>松江Ruby会議09</td>
        </tr>
        <tr>
          <th>開催日</th>
          <td>2018年6月30日（土）</td>
        </tr>
        <tr>
          <th>会場</th>
          <td>松江オープンソースラボ</td>
        </tr>
        <tr>
          <th>参加費</th>
          <td>無料</td>
        </tr>
        <tr>
          <th>主催</th>
          <td>Matsue.rb(まつえるびー)</td>
        </tr>
        <tr>
          <th>後援</th>
          <td><%= link_to("日本Rubyの会", "https://ruby-no-kai.org/", target: "_blank") %></td>
        </tr>
        <tr>
          <th>公式タグ</th>
          <td>X(旧: Twitter): <a href="https://twitter.com/search?q=matrk09&src=typd&f=realtime" target="_blank">#matrk09</a></td>
        </tr>
        <tr>
          <th>中継</th>
          <td>YouTube: <a href="https://www.youtube.com/watch?v=Q4QBVKDZwcg" target="_blank">松江Ruby会議09</a></td>
        </tr>
        <tr>
          <th>開催レポート</th>
          <td><%= link_to "るびま", "https://magazine.rubyist.net/articles/0058/0058-MatsueRubyKaigi09Report.html", target: "_blank" %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.62773773665!2d133.06001721495488!3d35.46400944946242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355704e36c4abdf9%3A0x404e8e5c9983181d!2z5p2-5rGf44Kq44O844OX44Oz44K944O844K544Op44Oc!5e0!3m2!1sja!2sjp!4v1524508374268" width="350" height="270" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>

<div id="purpose" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>目的</h2>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>ゲスト講演を通して松江Rubyの歴史を振り返り、当たり前のようにRubyが使えることのありがたさを再認識する機会になればと思っています。</p>
      <p>また、島根のエンジニアの発表を通して、参加者にRubyの楽しさを知ってもらいたいと思っています。</p>
    </div>
  </div>
</div>

<div id="information" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>新着・お知らせ</h2>
      </blockquote>
      <div class="overflow-auto news">
        <dl>
          <dt>2018/05/26</dt><dd>本ページを公開しました。</dd>
          <dt>2018/06/23</dt><dd>プログラム内容を更新しました。スポンサー様を掲載させていただきました。</dd>
          <dt>2018/06/26</dt><dd>プログラム内容を更新しました。また、<%= link_to('開催概要', '#guidance')%>に当日の中継のリンクを記載しました。</dd>
          <dt>2018/06/27</dt><dd>Ruby Quizの賞品を掲載させていただきました。</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div id="program" class="container py-3">
  <blockquote>
    <h2>プログラム</h2>
  </blockquote>
  <h3>講演者ご紹介</h3>
  <div class="row justify-content-center pt-3">
    <div class="col-xs4 col-md-4 keynote-person">
      <div class="ribbon">
        <div class="ribbon-text">基調講演</div>
        <span class="person matz"></span>
      </div>
      <div class="profile">
        <span class="name">まつもとゆきひろ 氏</span>
        <span class="social">
          <a href="https://twitter.com/yukihiro_matz" class="twitter"></a>
          <a href="https://github.com/matz" class="github"></a>
        </span>
        <p class="description">
          我らがRubyの生みの親。小泉八雲と肩を並べる松江市名誉市民でもあり、Rubyを通して地方から世界のソフトウェア業界に多大な影響を与えています。今回も松江ならでは、基調講演でお話をしていただきます。
        </p>
      </div>
    </div>
    <div class="col-xs4 col-md-4 keynote-person">
      <div class="ribbon">
        <div class="ribbon-text">ゲスト講演</div>
        <span class="person inoue"></span>
      </div>
      <div class="profile">
        <span class="name">井上浩 氏</span>
        <span class="social">
          <a href="https://twitter.com/nacl" class="twitter"></a>
        </span>
        <p class="description">
          株式会社ネットワーク応用通信研究所(NaCl) 代表取締役。会社設立当初から自由に使えるオープンソースソフトウェアを利用した事業を展開、座右の銘は「禍福は糾える縄のごとし」、又は「人生最後はチャラ」 ゲスト講演でお話いただきます。
        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>Ruby Quiz賞品</h3>
      <br>
      <ul>
        <li>
          <p>
            echo dot、URANT Wifiスマート ユニバサール リモコン<br />
            （エクスウェア株式会社様　ご提供）<br />
          </p>
        </li>
        <li>
          <p>
            同社所蔵のオライリー書籍１万円分（目録）<br />
            （ファーエンドテクノロジー株式会社様　ご提供）<br />
          </p>
        </li>
        <li>
          <p>
            Google Home<br />
            （株式会社ネットワーク応用通信研究所（NaCl）様　ご提供）<br />
          </p>
        </li>
        <li>
          <p>
            Oculus Go(32GB)<br />
            （株式会社Misoca様　ご提供）<br />
          </p>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3 class="card-title">タイムテーブル</h3>
      <h4>午前の部</h4>
<%= render('_time_table', tbody_data: [
  ['11:00 〜 11:05', 'オープニング', ''],
  ['11:10 〜 11:55', 'ゲスト講演<br />「島根でRubyが使えるようになったキッカケ 〜 10年前松江で何が起きていたか 〜」', '株式会社ネットワーク応用通信研究所（NaCl）<br />井上浩 氏'],
  ['12:00 〜 13:30', '昼食休憩', '']
]).gsub(/^/, '      ') -%>

      <h4>午後の部</h4>
<%= render('_time_table', tbody_data: [
  ['13:30 〜 14:20', '基調講演', 'まつもとゆきひろ 氏'],
  ['14:20 〜 14:35', '休憩・写真撮影', ' - '],
  ['14:35 〜 14:50', 'session 1<br />「<a href="https://www.slideshare.net/shohashimoto/redmine1-103850531">Redmineの更新を楽にする？1つの方法</a>」', '株式会社ネットワーク応用通信研究所（NaCl）<br />橋本将 氏'],
  ['14:50 〜 15:05', 'session 2<br />「<a href="https://speakerdeck.com/gamelinks007/pu-tomastodon">僕とMastodon</a>」', 'ゲームリンクス<br />平岡瞬 氏'],
  ['15:15 〜 15:40', 'LTセッション', ''],
  ['',               '松江ではたらく', '株式会社Misoca<br />加藤龍 氏'],
  ['',               '僕たちとRuby', '株式会社モンスター・ラボ<br />ハー・タイン 氏 & ポール 氏'],
  ['',               'わたしとスプラウト.rb', '株式会社日本ハイソフト<br />竹田喜世子 氏'],
  ['',               '<a href="https://www.slideshare.net/ShugoMaeda/ruby-103693472">Rubyでつくるスレッド</a>', '株式会社ネットワーク応用通信研究所（NaCl）<br />前田修吾 氏'],
  ['15:45 〜 16:00', 'session 3<br />「若手エンジニア × Rubyプロジェクト = ？？？」', 'ファーエンドテクノロジー株式会社<br />石川瑞希 氏'],
  ['16:00 〜 16:15', 'session 4<br />「<a href="https://speakerdeck.com/hidakatsuya/how-to-maintain-compatibility">後方互換の保ち方</a>」', '株式会社Misoca<br />日高克也 氏'],
  ['16:15 〜 16:30', 'session 5<br />「Yet Another Ruby Application Framework "Alone"」', 'ITOC しまねソフト研究開発センター<br />東裕人 氏'],
  ['16:35 〜 17:20', 'Ruby Quiz', '-'],
  ['17:20 〜 17:30', 'クロージング', '-']
]).gsub(/^/, '      ') -%>
    </div>
  </div>
</div>

<div id="sponser" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>スポンサー</h2>
      </blockquote>
    </div>

    <div class="col-md-12">

      <h3>RubyQuizスポンサー</h3>

      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-4 py-4">
          <a href="https://www.xware.co.jp/" target="_blank">
            <div class="pb-3">
              <img alt="xware" src="img/banner/xware.jpg" class="xware">
            </div>
            <div>エクスウェア株式会社</div>
          </a>
        </div>
        <div class="col-md-4 py-4">
          <a href="http://www.farend.co.jp/" target="_blank">
            <div class="pb-3">
              <img alt="farend" src="img/banner/farend.jpg" class="farend">
            </div>
            <div>ファーエンドテクノロジー株式会社</div>
          </a>
        </div>
        <div class="col-md-4 py-4">
          <a href="http://www.netlab.jp/" target="_blank">
            <div class="pb-3">
              <img alt="nacl" src="img/banner/nacl.jpg" class="nacl">
            </div>
            <div>株式会社ネットワーク応用通信研究所（NaCl）</div>
          </a>
        </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-4 py-4">
          <a href="https://www.misoca.jp/" target="_blank">
            <div class="pb-3">
              <img alt="misoca" src="img/banner/misoca.png" class="misoca">
            </div>
            <div>株式会社Misoca</div>
          </a>
        </div>
      </div>

      <h3>懇親会スポンサー</h3>

      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-4 py-4">
          <a href="http://www.eastback.co.jp/" target="_blank">
            <div class="pb-3">
              <img alt="eastback" src="img/banner/eastback.jpg" class="eastback">
            </div>
            <div>株式会社イーストバック</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="support" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>お問い合わせ</h2>
      </blockquote>
      <p>松江Ruby会議09は開催終了しました。ご参加ありがとうございました。</p>
      <p class="main-text font-Fenix">松江Ruby会議09に関するお問い合わせは、matsuerubykaigi _at_ googlegroups.comまでメールにてご連絡ください。</p>
      <p class="main-text font-Fenix"><strong>注意:</strong> メールアドレスの _at_ は @ に置換をお願いします。</p>
    </div>
  </div>
</div><!-- /.container -->
