<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
    <%= render('_head') %>
</head>
<body id="home">
  <div id="site">

    <div id="header">
      <div class="head_wrp clearfix">
        <div class="h_logo">
          <a href="/"><img src="/images/h_logo.gif" alt="松江Ruby" /></a>
        </div>
        <div class="h_link">
          <p>Matsue.rb(松江Ruby)は、島根県松江市周辺で活動するプログラミング言語Rubyのコミュニティです。</p>
          <a href="https://www.facebook.com/groups/matsuerb"><img src="/images/bnr_facebook.gif" alt="facebook" /></a>
          <a href="https://twitter.com/matsuerb"><img src="/images/bnr_twitter.gif" alt="twitter" /></a>
        </div>
        <div class="h_btn_waku clearfix">
          <div class="hb01"><a href="/"><img src="/images/h_btn01.jpg" alt="トップ" /></a></div>
          <div class="hb01"><a href="/news/"><img src="/images/h_btn02.jpg" alt="お知らせ" /></a></div>
          <div class="hb01"><a href="/about_us/"><img src="/images/h_btn03.jpg" alt="松江RUBYとは" /></a></div>
          <div class="hb01"><a href="/schedule/"><img src="/images/h_btn04.jpg" alt="スケジュール" /></a></div>
          <div class="hb01"><a href="/contact/"><img src="/images/h_btn05.jpg" alt="お問い合わせ" /></a></div>
        </div>
      </div>
    </div><!-- End of head -->


    <% if @item.identifier.size == 1 %>
      <div class="main_img_wrp1"><div class="main_img_wrp2"><div class="main_img_wrp3">
        <div class="main_img">
          <img src="/images/main_img.jpg" />
        </div>
      </div></div></div>
      <div id="con-top" class="clearfix">
    <% else %>
      <div id="content" class="clearfix">
    <% end %>

      <% if @item[:kind] == "article" %>
        <div class="page-title"><h1><%= @item[:title] %></h1></div>
        <div class="body">
          <%= yield %>
        </div>
      <% else  %>
          <%= yield %>
      <% end %>


    </div><!-- cont-top end -->

    <div id="footer">
      <div class="copy">Copyright © <%= Time.now.year %> <a href="https://www.facebook.com/groups/matsuerb">Matsue.rb(松江Ruby)</a>. All Rights Reserved.</div>
    </div><!--footer end-->

  </div><!-- site end -->
</body>
</html>
