<!DOCTYPE html>
<html lang="ja">
<head>
<%= render('_head') %>
</head>
<body>

<header class="py-3">
  <ul class="nav menu">
    <li class="nav-item">
      <img src="/images/bn/matsuerb_layer.png" alt="*"/><a href="/"><img src="/images/bn/matsuerb.png" alt="matsue.rb 松江Ruby"/></a>
    </li>
    <li class="nav-item">
      <a class="link-body-emphasis text-decoration-none" href="/news/"><div class="toc">お知らせ</div></a>
    </li>
    <li class="nav-item">
      <a class="link-body-emphasis text-decoration-none" href="/schedule/"><div class="toc">スケジュール</div></a>
    </li>
  </ul>
</header>
<!-- End of head -->

<% if @item[:kind] == "article" %>
  <div class="page-title"><h1><%= @item[:title] %></h1></div>
  <div class="body">
    <%= yield %>
  </div>
<% else  %>
  <%= yield %>
<% end %>

<!-- footer -->
<footer class="border-top py-3 my-4">
  <ul class="nav justify-content-center pb-3">
    <li class="nav-item">
      <%= link_to("トップ", "/index.html", class: "nav-link px-2 text-body-secondary") %>
    </li>
    <li class="nav-item">
      <%= link_to("お知らせ", "/news", class: "nav-link px-2 text-body-secondary") %>
    </li>
    <li class="nav-item">
      <%= link_to("スケジュール", "/schedule", class: "nav-link px-2 text-body-secondary") %>
    </li>
    <li class="nav-item">
      <%= link_to("アンチハラスメントポリシー", "/anti_harassment_policy", class: "nav-link px-2 text-body-secondary") %>
    </li>
  </ul>
  <ul class="nav justify-content-center pb-3">
    <li class="nav-item">
      <%= link_to("X(旧:Twitter)", "https://twitter.com/matsuerb", class: "nav-link px-2 text-body-secondary") %>
    </li>
    <li class="nav-item">
      <%= link_to("Facebook", "https://www.facebook.com/groups/matsuerb", class: "nav-link px-2 text-body-secondary") %>
    </li>
    <li class="nav-item">
      <%= link_to("GitHub", "https://github.com/matsuerb/matsuerb-nanoc", class: "nav-link px-2 text-body-secondary") %>
    </li>
    <li class="nav-item">
      <%= link_to("YouTube", "https://www.youtube.com/@Matsuerb", class: "nav-link px-2 text-body-secondary") %>
    </li>
    <li class="nav-item">
      <%= link_to("Doorkeeper", "https://matsue-rb.doorkeeper.jp/", class: "nav-link px-2 text-body-secondary") %>
    </li>
  </ul>
  <p class="text-center"><a href="https://matsue.rubyist.net/"><img src="/matrk_common/img/h_logo.jpg" alt="matsuerb"></a></p>
  <p class="text-center"><small>RubyロゴはYukihiro Matsumotoの著作物であり、Creative Commons BY-SAライセンスにより <%= link_to "https://www.ruby-lang.org/ja/about/logo/", "https://www.ruby-lang.org/ja/about/logo/" %> で公開されています。</small></p>
  <p class="text-center"><small>Copyright © <%= copyright_year %> <a href="https://www.facebook.com/groups/matsuerb">Matsue.rb(松江Ruby) </a>. All Rights Reserved. <span><%= link_to("GitHub・matsuerb/matsuerb-nanoc", "https://github.com/matsuerb/matsuerb-nanoc", {:target => "_blank"}) %></span></small></p>
</footer>

<script src="/js/bootstrap.js"></script>

</body>
</html>
