---
title: 松江Ruby会議12
date: 2026年6月6日（土）
location: 興雲閣
created_at: 2025/08/23
publish: true
kind: matrk
---

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/matrk12">MATSUE RUBY KAIGI 12</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#register">発表応募</a></li>
        <li class="nav-item"><a class="nav-link" href="#guidance">開催概要</a></li>
        <li class="nav-item"><a class="nav-link" href="#information">新着・お知らせ</a></li>
        <li class="nav-item"><a class="nav-link" href="#program">プログラム</a></li>
        <li class="nav-item"><a class="nav-link" href="#sponser">スポンサー</a></li>
        <li class="nav-item"><a class="nav-link" href="#support">お問い合わせ先</a></li>
        <li class="nav-item"><a class="nav-link" href="#coc">行動規範</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="py-5 text-center title">
  <img class="mx-auto mb-4" src="/images/ruby.png" width="60" height="60">
  <h1 class="display-5 fw-bold">MATSUE RUBY KAIGI 12</h1>
</div>

<div id="register" class="container py-3">
  <div class="row py-3">
    <div class="col-md-12">
      <h2>LT応募</h2>
      <p>松江Ruby会議12はLTを募集しております。</p>
      <p>下記の応募ボタンをクリックして、発表応募フォームにて必要事項の御入力を行い、御応募よろしくお願いします。</p>
      <p>発表応募の締切は <strong>2026年5月15日</strong> です。</p>
      <a href="https://forms.gle/uZEaKvUoatLUZGtE8" target="_blank"><button class="button" type="button">LT応募</button></a>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-md-12">
      <h2>発表応募</h2>
      <p>松江Ruby会議12は発表募集は締め切りました。</p>
      <p>発表応募の締切は <strong>2026年3月31日</strong> でした。</p>
      <a href="https://forms.gle/eah7Wb7BzZyZ9mUq8" target="_blank"><button class="button" type="button">発表応募</button></a>
    </div>
  </div>
</div>


<div id="guidance" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2 id="outline">開催概要</h2>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-responsive table-condensed">
        <tr>
          <th>名称</th>
          <td>松江Ruby会議12</td>
        </tr>
        <tr>
          <th>開催日</th>
          <td>2026年6月6日（土）</td>
        </tr>
        <tr>
          <th>会場</th>
          <td><a href="https://www.matsue-castle.jp/kounkaku/">興雲閣</a></td>
        </tr>
        <tr>
          <th>参加費</th>
          <td>無料</td>
        </tr>
        <tr>
          <th>主催</th>
          <td>Matsue.rb(まつえるびー)</td>
        </tr>
        <tr>
          <th>後援</th>
          <td><%= link_to("日本Rubyの会", "https://ruby-no-kai.org/", target: "_blank") %></td>
        </tr>
        <tr>
          <th>中継・録画</th>
          <td>中継・録画は行いませんが会場の写真撮影はします</td>
        </tr>
        <tr>
          <th>公式タグ</th>
          <td>X(旧: Twitter): <a href="https://x.com/hashtag/matrk12" target="_blank">#matrk12</a></td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6498.482452026464!2d133.05044519999998!3d35.473575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35570505b00a1a1b%3A0x9983f01a32c20c4c!2z6IiI6Zuy6Zaj!5e0!3m2!1sja!2sjp!4v1755930606649!5m2!1sja!2sjp" width="350" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<div id="information" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>新着・お知らせ</h2>
      </blockquote>
      <div class="overflow-auto news">
        <dl class="news_table">
          <dt>2026/04/13</dt><dd>LT募集を開始しました。</dd>
          <dt>2026/03/31</dt><dd>発表募集を締め切りました。</dd>
          <dt>2026/03/01</dt><dd>スポンサーを公開しました。</dd>
          <dt>2026/01/21</dt><dd>発表の募集を開始しました。</dd>
          <dt>2026/01/08</dt><dd>本ページを公開しました。</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div id="program" class="container py-3">
  <blockquote>
    <h2>プログラム</h2>
  </blockquote>
  <div class="py-3">
    <h3>講演者ご紹介</h3>
    <div class="row justify-content-center">
      <div class="col-xs4 col-md-4 keynote-person">
        <div class="ribbon">
          <div class="ribbon-text">基調講演</div>
          <span class="person shyouhei"></span>
        </div>
        <div class="profile">
          <span class="name">卜部昌平 氏</span>
          <span class="social">
            <a href="https://twitter.com/shyouhei" class="twitter"></a>
            <a href="https://github.com/shyouhei" class="github"></a>
          </span>
          <p class="description">
            1981年生まれ、母衣小学校卒業。その後、2000年代後半からRubyの開発に関わるようになり、安定版のメンテナンスや本体の高速化などに関与。現在までアクティブに活動されています。また、一般社団法人日本Rubyの会監事も兼任。基調講演でお話しいただきます。
          </p>
        </div>
      </div>
      <div class="col-xs4 col-md-4 keynote-person">
        <div class="ribbon">
          <div class="ribbon-text">企画参加</div>
          <span class="person matz"></span>
        </div>
        <div class="profile">
          <span class="name">まつもとゆきひろ 氏</span>
          <span class="social">
            <a href="https://twitter.com/yukihiro_matz" class="twitter"></a>
            <a href="https://github.com/matz" class="github"></a>
          </span>
          <p class="description">
            我らがRubyの生みの親。小泉八雲と肩を並べる松江市名誉市民でもあり、Rubyを通して地方から世界のソフトウェア業界に多大な影響を与えています。質問コーナーの企画で、回答者として質問に答えていただきます。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>タイムテーブル</h3>
<%= render('_time_table', tbody_data: [
  ['12:00 〜 12:30', '開場<br /><br />午前中からスタッフは会場の準備をします。<br /><br />sessionの発表者は、開会前にPCの接続確認を実施することを推奨します。1つのsessionの時間は15分です。次セッションへの切り替えは、休憩の間にお願いします。<br /><br />レポート作成のため、会場の写真を撮影します。', '受付<br />西田 雄也 氏<br /><br />接続確認<br />高尾 宏治 氏'],
  ['12:30 〜 12:40', '開会の挨拶', '実行委員長<br />佐田 明弘 氏<br /><br />司会<br />高尾 宏治 氏'],
  ['12:40 〜 13:10', '基調講演', '卜部 昌平 氏'],
  ['13:10 〜 13:15', '休憩(5分)', ''],
  ['13:15 〜 13:30', 'session1<br />「ruby.wasm で作る MIDI コントローラー」<br /><br />Web MIDI API はウェブブラウザ上でMIDIメッセージの送受信を行うためのAPIです。ruby.wasm と Web MIDI API を組み合わせてブラウザ上で動く MIDI コントローラーを自作し、Android の端末を簡易PADコントローラーにしたプロジェクトを紹介します。', 'nagachika 氏'],
  ['13:30 〜 13:35', '休憩(5分)', ''],
  ['13:35 〜 13:50', 'session2<br />「Rubyで音を視る」<br /><br />音楽にあわせてブラウザの中でビジュアルがウニョウニョと動く。そんな体験をRubyだけで作れたら面白いのではないだろうか？ そう思い立って、シーンやレイヤーの定義からオーディオ解析・描画までをRuby DSLで書くことができるGemを作りました。 本発表では実際に音を鳴らしながら、DSL設計の裏側とWebSocket x WebGLのリアルタイム描画パイプラインを解剖したいと思います。', 'ydah 氏'],
  ['13:50 〜 14:00', '休憩(10分)', ''],
  ['14:00 〜 14:15', 'session3<br />「十年目の神隠し　時の狭間に消えたタグ」<br /><br />今宵皆様にお話ししますのは、昨年わたくしが直面した怪奇現象。 わたくしね、仕事をする際、提供しているサービスのエラーログを見ているんですよ。出来れば毎日ね。大抵は報奨金目当てのホワイトハッカーがあら探しをした形跡なんですが、ひとつ異質なものがありまして。 毎日毎日タグ検索をすれども、どうしてもタイムアウトしてしまう。毎日毎日、同じタグを、同じ時間に、同じだけ検索してもタイムアウト。 おかしいなと思って見てみるじゃないですか。わたくしもタイムアウトするんですよ。チームメンバーも皆だめだったと言う。 検索が出来ませんという問い合わせもない。ただただ、毎日エラーログが増えるだけ。 怖いじゃないですか。タイムアウトのエラーを探してもこのタグだけ。再現性はあるけれど類似例は一個も見当たらない。この10年間でこのタグだけ。 だからね、調べてみたんです。このタグの神隠しについて。  わたくしの見つけた枯れ尾花について、ひっそりお話しいたします。', 'sakahukamaki 氏'],
  ['14:15 〜 14:20', '休憩(5分)', ''],
  ['14:20 〜 14:35', 'session4<br />「dRuby over BLE: Device-to-Device Remote Method Calls」<br /><br />マイコンで動く PicoRuby とブラウザで動く PicoRuby.wasm の通信を考えた時、BLE (Bluetooth Low Energy) が選択肢のひとつとしてあがります。PicoRuby には BLE::UART というインターフェースが実装されており、BLE の仕様を意識せずにデータを送受信できます。ただし一度に送れるデータ量には制限があり、データは分割して送信されます。受信側では自力で復元する必要があり、コードが煩雑になりがちです。もっと Ruby らしく BLE 通信を表現できないでしょうか。  そこで dRuby です。dRuby は分散オブジェクトシステムで、ネットワークの境界を越え、リモートのオブジェクトのメソッドをローカルにあるオブジェクトにするように呼び出せます。PicoRuby の dRuby 実装である picoruby-drb を BLE に対応させることで、処理をシンプルに書けるだけでなく、BLE 越しにリモートのオブジェクトのメソッドを呼び出せるようになります。 本トークでは、picoruby-drb の BLE 対応についてお話しします。', 'makicamel 氏'],
  ['14:35 〜 14:40', '休憩(5分)', ''],
  ['14:40 〜 14:55', 'session5<br />「Ruby::Boxは何に使えて何に使えないのか」<br /><br />Ruby::BoxはRefinementsに似た機能と捉えられることもありますが、実際に動きを理解していくとRefinementsの置き換えにはならないことが分かります。自分は現実の問題に対処する方法としていくつかRefinementsのユースケースを持ってましたが、それらはRuby::Boxでどうにかなるものではないと考えています。一方で現時点でもモジュラーモノリスのコントロールには意外とすぐに利用できる可能性があります。Ruby::Boxの動きをおさらいしながら、実際のコードを元にユースケースの適用可否の一例を紹介したいと思います。', 'joker1007 氏'],
  ['14:55 〜 15:25', '休憩(30分)<br /><br />スポンサー様にご協力いただき、亀田山喫茶室のコーヒーをご提供します。', ''],
  ['15:25 〜 16:25', 'LT', ''],
  ['16:25 〜 16:30', '休憩(5分)', ''],
  ['16:30 〜 17:00', '卜部 昌平 氏 & まつもと ゆきひろ 氏の対談', ''],
  ['17:00 〜 17:05', '休憩(5分)', ''],
  ['17:05 〜 17:15', '閉会の挨拶', '実行委員長<br />佐田 明弘 氏<br /><br />司会<br />高尾 宏治 氏'],
  ['17:15 〜 18:00', '片付け<br /><br />集合写真の撮影をした後、興雲閣の会場の片付けをします。<br />お帰りの際、お忘れ物をなさいませんようご注意ください。<br /><br />それと、発表者との交流のための懇親会があります。参加者は、懇親会幹事と一緒に会場へ移動してください。<br /><br />懇親会会場： <a href="https://karakoro-kobo.com/shop_info/shop01">佐香やカラコロ広場店</a><br />大手前からバスで移動： <a href="https://www.aao-aao.jp/news/free-circulation-bus/">AAO無料循環バス</a>', '写真撮影<br />西田 雄也 氏<br /><br />懇親会幹事<br />羽角 均 氏'],
]).gsub(/^/, '      ') -%>
    </div>
  </div>
</div>

<div id="sponser" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <h2>スポンサー</h2>

      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-12 py-4">
          <a href="https://andpad.jp/" target="_blank">
            <div class="pb-3">
              <img alt="andpad" src="img/andpad.png" class="img-fluid">
            </div>
            <div>株式会社アンドパッド</div>
          </a>
        </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-6 py-4">
          <a href="https://www.netlab.jp/" target="_blank">
            <div class="pb-3">
              <img alt="nacl" src="img/nacl.jpg" class="img-fluid">
            </div>
            <div>株式会社ネットワーク応用通信研究所</div>
          </a>
        </div>
        <div class="col-md-6 py-4">
          <a href="https://hosting.redmine.jp/" target="_blank">
            <div class="pb-3">
              <img alt="farend" src="img/myredmine.png" class="img-fluid">
            </div>
            <div>ファーエンドテクノロジー株式会社</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="support" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>お問い合わせ</h2>
      </blockquote>
      <p class="main-text font-Fenix">松江Ruby会議12に関するお問い合わせは、matsuerubykaigi _at_ googlegroups.comまでメールにてご連絡ください。</p>
      <p class="main-text font-Fenix"><strong>注意:</strong> メールアドレスの _at_ は @ に置換をお願いします。</p>
    </div>
  </div>
</div>

<div id="coc" class="container py-3">
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h2>行動規範</h2>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-break">
      <p>本カンファレンスでは、性別、性的指向、障碍の有無、外見、身体の大きさ、人種、宗教にかかわりなく、全員がハラスメント行為なくカンファレンスに参加し体験できる環境の提供に最善を尽くします。 私達主催者は、参加者によるハラスメント行為を一切許容しません。性的な言葉や映像表現を使うことは会場および本カンファレンスに関連するいかなる場でも不適切であり、その適用範囲は発表やトークの内容、ワークショップ、関連イベント、SNSやその他のオンラインメディアでの発言を含みます。これらのルールを破った参加者は、主催者の判断によって、カンファレンス内での行動を制限されたり、カンファレンスからの追放処分を受けることがあります。</p>
      <p>ハラスメント行為には、言葉による性別、性的指向、障碍の有無、外見、身体の大きさ、人種、宗教に関する攻撃的なコメント、公的空間での性的な映像表現、意図的な威力行為、ストーキング、つきまとい、写真撮影や録音によるいやがらせ、トークやその他のイベントに対して繰り返して中断しようとする行為、不適切な身体接触、そして望まれない性的な注意を引きつける行為を含みます。</p>
      <p>参加者は、これらのハラスメント行為を止めるように求められた場合、すぐに従わなければなりません。</p>
      <p>参加者がハラスメント行為に属するふるまいをした場合は、主催者は適切と判断した範囲で、当該行為を行った者に対する警告や、参加費を返還せずに追放処分とするなどを含むいかなる行動も取ります。</p>
      <p>もしあなたがハラスメントに遭った場合、他の人がハラスメントに遭っている場合、あるいは他に気になることがあった時は、すぐに運営スタッフの誰かに連絡していただくようお願いします。</p>
      <p>スタッフは、ハラスメントを経験した人が、期間中安全かつ安心と感じられるように、参加者がホテル/会場の警備や近隣の警察に連絡すること、付き添い者の提供、およびその他の支援を行います。私達にとってあなたが参加しているのは大事なことなのです。</p>
      <p>私達は参加者が会場と、本カンファレンスに関連したソーシャルイベントにて、このルールに従うことを望みます。</p>
      <p>原文ソースとクレジット: <a href="http://japan.perlassociation.org/entry/yapc/code_of_conduct">http://japan.perlassociation.org/entry/yapc/code_of_conduct</a> & <a href="https://geekfeminism.fandom.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a></p>
      <p>この行動規範は <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a> でライセンスされています。</p>
    </div>
  </div>
</div>
