/* default */
body {
}
.top-image {
  position: relative;
  height: 130px;
  background-size: cover;
}
.nav {

}

/* container */
.container {

}
  .container ul,
  .container ol,
  .container dt,
  .container p {
    margin-left: 50px;
  }
  .container dd {
    margin-left: 80px;
  }


/* infomation */
#infomation {

}
  #infomation dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 30px 0;
    margin: -2px 0 0 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: #fff;
    max-width: 1170px;
  }
    #infomation dl dt {
      float: left;
      width: 100px;
    }
    #infomation dl dd {
      margin-bottom: 12px;
    }

/* flow */
#flow {
}
  #flow ol {
  }
    #flow ol li {
      font-size: 18pt;
    }

/* question */
#question {
}
  #question h3 {
    margin-left: 20px;
  }
  #question .ask {
    font-size: 16pt;
  }
  #question pre {
    margin-left: 50px;
  }

footer {
    margin: 50px 0 0 0;
    padding: 20px 0;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.list-inline img {
    padding-bottom: 20px;
}

.col-xs-12 .col-xs-3{
  width: 285px;
  min-height: 160px;
}

/* sponsor */
#sponser {
}
  #sponser .logo-wrapper {
    height: 100px;
    width: 285px;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
  }

footer p.text-small{
  font-size: 11px;
}

/* timetable */
table.timetable-table {
  max-width: 90%;
  background-color: transparent;
  margin-left: 15px
}
.timetable-table td {
  font-size:100%;
}
.timetable-table tr:nth-child(even) {
  background-color:#F9F9F9;
}
.timetable-time td {
  font-size:100%;
}
.timetable-table {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
.timetable-table > thead th,.timetable-table > tbody > tr td {
  text-align: left;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  padding-left: 100px
}
.timetable-table-bordered > thead > th,
.timetable-table-bordered > tbody > tr > td {
  border: 1px solid #dddddd;
}
.timetable-table > thead th {
  font-size: 1.25em;
}
.timetable-table > thead th .month {
  font-size: 0.8em;
  vertical-align: top;
}
.timetable-table > thead th .day {
  font-size: 0.6em;
}

/* button */
.button {
  padding: 10px 70px;
  font-size: 25px;
  line-height: 1.3;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #EB1D15;
  border-color: #EB1D15;
  margin-right: 10px;
  margin-top: 10px;
  width: 295px
}
.container mark {
  margin-top: 400px;
}
