/* contest */
.contest p {
  font-size: 12pt;
}
.contest .prize-label {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 20px;
  width: auto;
  min-width: 115px;
  height: 40px;
  color: #F6F6F6;
  line-height: 40px;
  text-align: center;
  background: #19283C;
  z-index: 0;
}
.contest .prize-label:after {
  content: "";
  position: absolute;
  bottom: -15px; left: 0;
  margin-left: 0;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 20px 15px 0;
  border-color: transparent #19283C transparent transparent;
  z-index: -1;
}
.contest .prize-picture {
  width: 240px;
  height: 240px;
  display:table-cell;
  vertical-align: middle;
  margin: 10px;
  -webkit-border-radius: 50%;/* 50%でもOK */
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #999;
  background-color: #fff;/* 円の色 */
  text-align: center;
  font-size: 16pt;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}
